[2020-06-19 16:27] ronaldtse opened #2 "Parse the EXPRESS language"
Here's an example of Annotated EXPRESS:
https://github.com/metanorma/annotated-express/blob/master/data/resources/aic_curve_swept_solid/aic_curve_swept_solid.exp

We want to parse it into a model like this using Parslet:
https://github.com/metanorma/annotated-express/blob/master/data/resources/aic_curve_swept_solid/aic_curve_swept_solid.xml

e.g.
[code]

The EXPRESS syntax is briefly described her

[2020-07-14 17:10] ronaldtse opened #3 "Add methods to access EXPRESS XML data model"
Given this file, parsed by Reeper: https://github.com/metanorma/annotated-express/blob/master/data/resources/aic_curve_swept_solid/aic_curve_swept_solid.xml

[code]

I want to be able to do something like this:

[code]

[2020-08-07 09:10] ronaldtse opened #1 "Implement parser for EXPRESS syntax"
1. Modify the IFC “[Express.g4](https://github.com/hypar-io/IFC-gen/blob/IFC4/grammar/Express.g4)” grammar to parse proper EXPRESS (ISO 10303-11) syntax. The EXPRESS language reference will be provided.

2. Test the generated Ruby parser code to ensure all existing EXPRESS files (.exp files) can be parsed properly.

3. Link the EXPRESS parser parse tree to their representations in EXPRESS (located

[2020-08-12 19:08] ronaldtse commented on #1
Ping @abunashir do you have time for this? Thanks!

[2020-08-14 09:46] abunashir commented on #1
Yap, I will add it to my list.

[2020-08-15 15:00] ronaldtse commented on #1
@zakjan is going to handle this, thanks!

[2020-08-16 12:08] ronaldtse commented on #1
@abunashir @zakjan this repo has been renamed to Expressir, just FYI.

[2020-08-21 07:40] ronaldtse opened #6 "Problem with EXPRESS schema in STEPmod"
From @zakjan

It seems that the BNF grammar (1994) is missing `EXTENSIBLE` keyword, ISO 10303-11 PDF spec (2004) is missing `MODEL` keyword, etc.

Is this known? Which version(s) should be supported by the grammar, the latest PDF, or all?

[2020-08-21 07:42] ronaldtse opened #7 "Invalid files in STEPmod?"
From @zakjan

There are a few files that are invalid EXPRESS:

For example `ballots/ballots/ap210_wg12/express/resources/risk_schema.exp`:

[code]

WHERE domain_rule rule is `domain_rule = [ rule_label_id ’:’ ] expression .`, meaning that `rule_label_id ’:’` is optional, but must be present together. `:` alone without `rule_label_id` is not allowed.

How should I handle this? Fail, or be tolerant

[2020-08-25 02:55] #1 closed

[2020-08-25 13:53] ronaldtse commented on #2
This is now handled by @zakjan .

[2020-10-12 02:59] ronaldtse commented on #2
Completed in #10

[2020-10-12 02:59] #2 closed

[2020-10-12 03:18] ronaldtse opened #11 "Ability to serialize out canonical EXPRESS format"
Each of the `Expressir::Model` Ruby models should allow serialization of a canonical EXPRESS output.

For example, this WHERE statement:
[code]

is parsed into this:

[code]

But there is no way to return WR1 into the original EXPRESS:

[code]

`where` only has two attributes: `#entity` and `#expression`.

We can write a method to serialize the original form, e.g.:
[code]

[2020-10-12 03:23] ronaldtse opened #12 "Expressir::ExpressExp::Parser to parse remark tags"
The current parser `Expressir::ExpressExp::Parser` does not handle remark tags.

Given contents of an EXPRESS file of:
[code]

We want to be able to access the remark tags of a model via something like this:

[code]

Of course this will also be useful:
[code]

[2020-10-12 03:32] ronaldtse opened #13 "Migrate runtime to antlr4-native-rb"
https://github.com/camertron/antlr4-native-rb

We need to use this for performance reasons. Parsing `action_schema.exp` today takes 14 seconds.

[2020-10-12 03:42] ronaldtse opened #14 "Parsing speed mitigation: model cache"
Even with #13 implemented, I believe we probably need a model cache to store the parsed parse tree for quick lookup.

This task is to implement a model cache (e.g. serialized form of the parsed parse tree) in a single file. The easiest way is to store the Ruby parse tree via model serialization, but an interpretable text-format cache e.g. in YAML would be much preferable. (perhaps each model `.rb`

[2020-10-12 03:52] ronaldtse opened #15 "Migrate Expressir::Express classes to use Expressir::Model classes"
The older set of EXPRESS classes are under the namespace of `Expressir::Express`, such as: `Expressir::Express::AggregateDimension`.

The new set of EXPRESS classes are under `Expressir::Model`, e.g. `Expressir::Model::Statements`.

This task is to replace the older set with the new classes.

[2020-10-12 04:01] ronaldtse opened #16 "Define "EXPRESS Path" syntax and DSL for accessing EXPRESS models"
EXPRESS remark tags allow the syntax of `{schema}.{entity}....` to access a data model. However, in LutaML we also want to access other things that belongs to the model, including:

* the expression that belongs to the object
* remark tags on that object
* individual attributes of an entity

We need to come up with a way of accessing such information, e.g.

* `action_schema.action_directive_relati

[2020-10-12 04:01] ronaldtse commented on #16
@w00lf assuming we have a syntax of accessing the EXPRESS model internals, how do we expose this information in Liquid?

[2020-10-19 12:52] w00lf commented on #16
I will create a wrapper interface inside lutaml gem, it will accept express repository as input object and will have `find` method to access objects, each lutaml flavor will inherit this wrapper and overwrite `find` method according to the internal objects.

[2020-10-26 08:04] ronaldtse commented on #16
@w00lf could you help describe the syntax here for reference? Thanks!

[2020-10-26 15:46] w00lf commented on #16
Sure, the final wrapper inside Lutaml will pack variables and methods of Schema/Entity into Hash like structure so that we can access them inside liquid code like so:

[code]

We also can iterate through all entity attributes through liquid for loop, example:

[code]

[2020-10-27 05:42] ronaldtse commented on #16
@w00lf can you add this to the README of `metanorma-plugin-lutaml` gem? Thanks!

[2020-11-01 06:15] w00lf commented on #16
Done - https://github.com/metanorma/metanorma-plugin-lutaml/pull/2

[2020-11-02 13:34] #12 closed

[2020-11-02 15:05] zakjan opened #18 "Remarks and inheritance"
From the spec, 10.3.5 Scope and visibility > Explicit item rules > Entity

@TRThurman Does this apply also to remarks?

If I understand it correctly, the following example should attach a remark to `val` attribute:

[code]

However, the current parser only considers the textual structure of the exp file, it doesn't evaluate it. Implementing attaching remarks to a supertype from subtypes would requ

[2020-11-02 15:21] TRThurman commented on #18
See below.

Two problems here:
'val' needs to be qualified for ease of the human reader. The parser probably doesn't care.
The remark should be on the WHERE rule.
-- "not_even" remark...

So this is better (in my opinion but there may be syntax errors):
ENTITY integer_number;
  val : INTEGER;
END_ENTITY;
ENTITY odd_number SUBTYPE OF (integer_number);
  WHERE not_even : ODD(SELF\integer_number.val)

[2020-11-02 15:42] zakjan commented on #18
I agree that the example is not well written for a human. I took an example from the spec, and only added a remark, to illustrate my question about the syntax, for the purpose of the parser.

If `val` is referenced in a remark tag, it would be only in the scope of the closest entity `integer_number` directly, never in the scope of the child entity `odd_number` through inheritance?

i.e. `--"intege

[2020-11-02 15:50] TRThurman commented on #18
Not necessarily.
Remark tags shall conform to the visibility rules in clause 10.2 in the standard.
There is no textual encapsulation nor "neighborhood" nor "closest" concept of the visibility context,

So one could have this remark 20 lines away from the ENTITY odd_number or integer_number.

Yes

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This

[2020-11-02 15:55] zakjan commented on #18
Lines away are fine. By closest I meant in terms of parent/child scope tree.

Yes, I'm following the visibility rules. The problematic sentence "Attributes declared in a supertype of an entity are visible in the subtype entity through inheritance." is in clause 10.3.5

Great that I can disregard it, thanks.

[2020-11-02 16:03] TRThurman commented on #18
I think this is what you are looking for in 10.3.5:
NOTE The scope of the subtype entity is not considered to be nested within the scope of the supertype.

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attachments) is covered by the Electronic Communications Privacy Act, 18 U.S.C. 2510-2521, is confidential and may be legal

[2020-11-02 19:52] zakjan commented on #18
Ok, thanks.

[2020-11-02 19:52] #18 closed

[2020-11-08 09:30] ronaldtse commented on #11
@trthurman this work is done. Is it possible to help verify the following example EXPRESS input/output to see if this is acceptable? Thanks!

Input file for parsing:
https://github.com/lutaml/expressir/blob/formatter/original/examples/syntax/syntax.exp

Formatted output file:
https://github.com/lutaml/expressir/blob/formatter/original/examples/syntax/syntax_formatted.exp

[2020-11-08 10:00] zakjan commented on #11
Let me know if you have any preference in the output formatting.

Tagged remarks are yet to be implemented next week.

[2020-11-08 13:37] TRThurman commented on #11
Please remind me:
What is the role of this output file?

Sent from my iPhone

[2020-11-08 14:39] TRThurman commented on #11
1-Process the output file with the Express Engine --pretty  function,
2-Compare the result with the Express Engine --compare function.
That will verify the output file is valid.

You could also directly compare the input and output with Express Engine --compare function.

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attach

[2020-11-09 00:49] ronaldtse commented on #11
Thank you @TRThurman ! Perhaps we can use eengine as a spec in the continuous integration process too.

[2020-11-09 12:01] ronaldtse commented on #11
`eengine` is available for download at this link:
https://sourceforge.net/projects/exp-engine/files/eengine/5.1/

* macOS: https://master.dl.sourceforge.net/project/exp-engine/eengine/5.1/eengine-5.1.0-mac64sbcl.zip
* Windows: https://sourceforge.net/projects/exp-engine/files/eengine/5.1/eengine-5.1.0-win64.zip/download

We can incorporate this into our CI workflow to test against the output.

[2020-11-16 12:02] opoudjis opened #20 "tzinfo versioning problem"
While metanorma does not use tzinfo directly, it uses gems that do, such as twitter_cldr

Activesupport is using tzinfo 1.1, and will only use 2.0 as of 6.1, which has only been pre-released a week ago.

While my Gemfile.lock seems to have dealt with tzinfo correctly (1.2.8), I've just started getting errors like this:

[code]

And the only way I could get rid of them was to uninstall tzinfo 2.0.*

[2020-11-16 12:55] w00lf commented on #20
It turns out that expressir does not use ActiveSupport features, I have removed it from deps.

[2020-11-17 06:32] zakjan commented on #11
I tried to use eengine for verifying the formatter output, so that ideally we could use it in CI workflow, but `eengine --pretty` fails for my test files, so I have to fix them. The test files are artificially created to cover as much as possible syntax cases possible. I already fixed a few issues, but I couldn't understand other errors yet. For example with alias statement, even when I use this e

[2020-11-17 07:05] zakjan commented on #11
Another interesting error is with binary and encoded string expression in constant.

[code]

or

[code]

Fails with:

```Error: CONSTANT_BODY expected '#\;', got 'P11:END_CONSTANT'```

Is there anything wrong about this? Or eengine doesn't fully cover the spec?

[2020-11-17 07:26] zakjan commented on #11
cc @KAHunten

[2020-11-17 13:47] #20 closed

[2020-11-17 13:47] opoudjis commented on #20
Thank you!

[2020-11-17 15:08] TRThurman commented on #11
Please add Robert Swindells to this email thread.
Robert is the developer responsible for eengine these days.
This particular structure is not used in ISO 10303 nor have I ever seen it in a schema, so I personally don't care about it.
Robert can advise further.

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attachments) is

[2020-11-17 15:09] TRThurman commented on #11
Adding Robert to this thread

[2020-11-17 15:21] ronaldtse commented on #11
@TRThurman does Robert have a GitHub account? If so I can add him to future threads, too. Thanks!

[2020-11-17 15:46] TRThurman commented on #11
On Nov 17, 2020, at 1:05 AM, Jan Žák <notifications@github.com> wrote:

EXPRESS strings use single quote characters, not double quote ones.

[2020-11-17 15:50] zakjan commented on #11
Double-quote strings are encoded in 4 octets per each char (spec 7.5.4).

[2020-11-18 11:41] zakjan commented on #11
Functions and procedures without parameters

Declaration:

[code]

Call:

[code]

eengine throws Error: ASSIGNMENT_STMT expected ':COLON-EQUAL', got '#\;'

It seems that the spec doesn't explicitly disallow them.

"A function or procedure *can* have formal parameters." in section 9.5.3

BNF syntax has parameters in `[` `]`

[code]

Are they valid or not?

[2020-11-18 14:42] TRThurman commented on #11
Express engine bugs are tracked in bugzilla.
http://bz.pdes-ch.org/enter_bug.cgi?product=Express%20Engine <http://bz.pdes-ch.org/enter_bug.cgi?product=Express%20Engine>

Ron has an account.

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attachments) is covered by the Electronic Communications Privacy Act, 18 U.S.C. 2510-252

[2020-11-18 22:04] zakjan commented on #11
Formatting tagged remarks pushed. At the end of each scope, tagged remarks for current scope items are printed. PR #22

@TRThurman Could review the output, please?

Input: https://github.com/lutaml/expressir/blob/formatter2/original/examples/syntax/remark.exp
Output: https://github.com/lutaml/expressir/blob/formatter2/original/examples/syntax/remark_formatted.exp

I verified it by running `eengine

[2020-11-18 22:10] zakjan commented on #11
Summary of found eengine issues:

- binary literal
- encoded string literal
- alias statement
- function and procedure call without parameters

I commented them out temporarily for the verification mentioned in the previous comment. Until they are resolved (either removed from expresssir or added to eengine), eengine can't be used in CI workflow yet.

[2020-11-18 22:25] TRThurman commented on #11
This doesn't conform to 7.1.6.3 Remark tag.
Please review the original asciidoc description (sorry not sure where it is on github) for the EXPRESS annotation and clause 7.1.6.3 in ISO 10303-11.

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attachments) is covered by the Electronic Communications Privacy Act, 18 U.S.C. 2510

[2020-11-18 22:36] zakjan commented on #11
Could you elaborate on why it doesn't conform?

Remarks can be either multi-line (embedded remark, section 7.1.6.1) or single-line (tail remarks, section 7.1.6.2). Both can be tagged.

Current implementation of the formatter outputs a tail remark if there is no newline char in the remark content.

[2020-11-18 22:42] TRThurman commented on #11
The content model of the remark doesn't conform to the syntax of the remark tag.

example:
ENTITY ent;
attr: INTEGER;
END_ENTITY;
(*"ent.attr" The attr attribute ... *)

This:
--"remark_explicit" entity scope - entity explicit
doesn't follow the visibility rule in 10.2.

Again,
Please go review the document Ron and I worked on previously.
There were worked examples there.

Thomas Thurman
Principal

[2020-11-18 23:10] zakjan commented on #11
I'm sorry but I'm still unsure why this doesn't conform to the spec.

[code]

Per 10.2, a)

Also, per 10.3.5 Entity

Entity creates a local scope. As long as the remark is in the same local scope, I understand it as that it can refer to the attribute with attribute id only, without entity id. Is it correct?

---

It seems that you prefer the following:

[code]

Which follows the examples in the sp

[2020-11-18 23:23] TRThurman commented on #11
There is a difference between a lexical scope as rendered in a document and the
content model scope as modeled in EXPRESS.

Placing a remark "inside" a declaration in a text file is not a correct method to specify that a remark is in the scope of a declaration.

This:

is valid EXPRESS but it is not a valid remark tag because it does not explicitly identify the scope for the remark tag.
We need to

[2020-11-19 00:04] zakjan commented on #11
Oh, this might explain my misunderstanding. Thanks for your patience! Is it about 7.1.6.3, b)?

manner: the reference to the left of the ’.’ shall identify the scope in which to find the
reference to the right.

There is no other mention of "qualified remark reference" in the spec, so I thought it is optional. No mention of "content model scope" either. Now I see that every printed remark referenc

[2020-11-19 04:54] ronaldtse opened #23 "Potential eengine bug: Functions and procedures without parameters"
Functions and procedures without parameters

Declaration:

[code]

Call:

[code]

eengine throws `Error: ASSIGNMENT_STMT expected ':COLON-EQUAL', got '#\;'`

It seems that the spec doesn't explicitly disallow them, or at least I couldn't find where.

"A function or procedure **can** have formal parameters." in section 9.5.3

BNF syntax has parameters in `[` `]`, which means optional

[code]

Are t

[2020-11-19 04:55] ronaldtse opened #24 "Potential eengine bug: Error parsing binary and encoded string expression in constant"
Another interesting error is with binary and encoded string expression in constant.

[code]

or

[code]

Fails with:

```Error: CONSTANT_BODY expected '#\;', got 'P11:END_CONSTANT'```

Is there anything wrong about this? Or eengine doesn't fully cover the spec?

_Originally posted by @zakjan in https://github.com/lutaml/expressir/issues/11#issuecomment-728732402_

[2020-11-19 04:55] ronaldtse commented on #24
From @trthurman:

[2020-11-19 07:12] zakjan opened #25 "Potential eengine bug: alias statement is not recognized"
Example copied from the spec:

[code]

Fails with error message:

[code]

Originally posted in https://github.com/lutaml/expressir/issues/11#issuecomment-728718467

[2020-11-19 07:15] ronaldtse commented on #25
Screenshot:

![Uploading Screen Shot 2020-11-19 at 3.15.43 PM.png…]()

[2020-11-19 07:19] ronaldtse commented on #23
Screenshot for 9.5.2.

<img width="563" alt="Screen Shot 2020-11-19 at 3 19 21 PM" src="https://user-images.githubusercontent.com/11865/99633897-9b036600-2a7a-11eb-93b8-540fe9bd24c9.png">

[2020-11-19 08:49] zakjan commented on #11
Pushed an updated formatter. @TRThurman Could review the entire output again, please?

https://github.com/lutaml/expressir/blob/formatter2/original/examples/syntax/remark_formatted.exp

[2020-11-24 03:14] ronaldtse commented on #3
We are no longer going to work with the EXPRESS XML format generated from Express Engine. Closing. Some parts of the imaginary syntax can go into a new issue.

[2020-11-24 03:14] #3 closed

[2020-11-24 03:16] ronaldtse opened #26 "Output canonical EXPRESS for "embedded remarks""
Embedded remarks are these:
[code]

Expressir should be able output these remarks in the prettified format (the "canonical" format).

e.g.
https://github.com/metanorma/annotated-express/blob/master/data/resources/aic_curve_swept_solid/aic_curve_swept_solid.exp#L110-L119

[2020-11-24 03:17] ronaldtse commented on #11
Let's merge #22 since it's all working. Embedded remarks task is #26.

[2020-11-24 03:19] ronaldtse opened #27 "Allow accessing EXPRESS data model using Ruby"
Given an EXPRESS file like:

[code]

I want to be able to do something like this:

[code]

@zakjan we will need documentation on how to do things like this.

[2020-11-24 03:20] #11 closed

[2020-11-24 03:20] ronaldtse commented on #27
This is somewhat overlapping with #16 , probably should be done with #16 together.

[2020-11-24 03:37] #26 closed

[2020-11-24 03:38] zakjan commented on #11
Test for embedded remarks is added. @w00lf Could you release the gem, please?

[2020-11-24 03:44] zakjan commented on #15
This is going to enable import/export from/to any format.

[2020-11-24 07:22] zakjan commented on #27
SInce scope and visibility rules were already implemented in #11, it seems this can use the same implementation.

Code for `find` method could look like:

[code]

[2020-11-24 09:09] ronaldtse commented on #25
Reported at: http://bz.pdes-ch.org/show_bug.cgi?id=8484

[2020-11-24 09:11] ronaldtse commented on #24
Reported at: http://bz.pdes-ch.org/show_bug.cgi?id=8483

[2020-11-24 09:11] ronaldtse commented on #23
Reported at: http://bz.pdes-ch.org/show_bug.cgi?id=8482

[2020-11-24 09:28] ronaldtse commented on #27
Looks good @zakjan !

[2020-11-24 14:22] TRThurman commented on #11
The latest file example:
https://github.com/metanorma/annotated-express/blob/master/data/resources/aic_curve_swept_solid/aic_curve_swept_solid.exp#L110-L119 <https://github.com/metanorma/annotated-express/blob/master/data/resources/aic_curve_swept_solid/aic_curve_swept_solid.exp#L110-L119>

looks good.

Tom

[2020-11-24 14:58] ronaldtse commented on #11
Thank you @TRThurman !

[2020-11-24 19:59] w00lf commented on #11
Done, the new version is - 0.2.3

[2020-11-25 02:32] ronaldtse commented on #23
From Robert Swindells: http://bz.pdes-ch.org/show_bug.cgi?id=8482#c1

[2020-11-25 02:33] ronaldtse commented on #23
My response:

Thanks Robert! In this case, what should the correct "procedure call" format be?

According to ISO 10303-11, 13.8, the syntax given is:
[code]

"actual_parameter_list" is optional.

In 13.8 the example given is:
[code]

[2020-11-25 05:30] zakjan commented on #23
Yes, a declaration without params is valid, a call without params throws.

[2020-11-26 08:29] zakjan commented on #27
Yes, `.` is a valid separator. EXPRESS name definitions can contain only letters, digits and `_`.

[code]

[2020-11-26 08:39] ronaldtse commented on #27
Thank you @zakjan !

[2020-11-26 10:06] #27 closed

[2020-11-26 10:25] zakjan opened #30 "Finalize parsing and formatting remark tags"
According to the ISO 10303-11 spec, 7.1.6.3 b) Remark tag

Based on https://github.com/lutaml/expressir/issues/11#issuecomment-730019292, all remarks shall use a qualified remark reference, therefore a scope is required in the remark tag.

It means the following further changes needed in remark parsing and formatting:

1) remark tag without a scope shall not be parsed

Currently remark tags withou

[2020-11-26 10:35] zakjan commented on #30
@TRThurman Could you explain why this line https://github.com/metanorma/annotated-express/blob/master/data/resources/aic_curve_swept_solid/aic_curve_swept_solid.exp#L112 contains a remark tag without a scope `curve_swept_solid_shape_representation`? Based on your comment linked above, I would understand that the scope must be always specified, therefore it would be `aic_curve_swept_solid.curve_swe

[2020-11-26 11:09] ronaldtse commented on #30
@zakjan that anomaly could be due to me not fully understanding the structure back then. In this case please help update that repo to reflect latest agreed practice 👍

[2020-11-26 11:09] ronaldtse commented on #30
Will let @TRThurman clarify. Thanks.

[2020-11-26 15:55] TRThurman commented on #11
The above statement is incorrect. Remark qualification is optional.
I was conflating the preferred method to layout the EXPRESS declaration and the annotation.
Including the remark tags in the lexical scope of the EXPRESS is strongly discouraged for readability reasons.

The one layout exception is the SCHEMA declaration, because it facilitates development to keep all content in one place.

[2020-11-26 16:02] TRThurman commented on #30
The remark tag is not always qualified. Specifically remark tags for SCHEMA, declarations directly within the scope of a SCHEMA do not need to be qualified with the SCHEMA identifier.
I updated the original comment with a correction.

[2020-11-26 16:05] zakjan commented on #30
Ok, would this be the preferred solution then?

- when parsing, lexical scope and visibility rules shall be supported
- when formatting to canonical output, tagged remarks shall be printed in the end of the file using a qualified reference including schema scope

[2020-11-26 16:48] TRThurman commented on #30
Yes

What is the interpretation of 'canonical output'?

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attachments) is covered by the Electronic Communications Privacy Act, 18 U.S.C. 2510-2521, is confidential and may be legally privileged.  If you are not the intended recipient, you are hereby notified that any retention, d

[2020-11-27 07:28] ronaldtse commented on #30
The `eengine --pretty` output. We use its output to check against our EXPRESS output, and since eengine does not prettify remark tags, we format the tail/embedded remarks according to similar rules.

[2020-11-27 15:21] TRThurman commented on #30
So essentially you would add the collection of remark tags to the end of the --pretty file.
Makes sense.
thanks!

[2020-11-27 15:26] zakjan commented on #30
Yeah almost, it's not exactly eengine --pretty file, but our own version of it with the same purpose.

Before I printed the tagged remarks into the lexical scope. Now I'm going to change it to print them to the end, to follow the preferred formatting.

[2020-11-27 16:14] zakjan commented on #30
There are three edge cases: alias statement (10.3.1), query expression (10.3.9) and repeat statement (10.3.10).

They declare implicit variables which are visible only in the inner lexical scope and are not visible from outside. These still needs to be printed to the lexical scope, correct?

[2020-11-27 18:57] TRThurman commented on #30
Yes, there is no mechanism to reference them.

[2020-11-28 06:38] zakjan commented on #30
This is the updated test output file: https://github.com/lutaml/expressir/blob/formatter3/original/examples/syntax/remark_formatted.exp

Would you mind reviewing it for the last time, please?

[2020-11-28 15:20] TRThurman commented on #30
In some cases, the test schema is unrealistic.
Example:

DERIVE remark_derived_attribute : STRING := 'xxx';
INVERSE remark_inverse_attribute : remark_entity FOR remark_attribute;

There might be:
DERIVE
remark_derived_attribute : STRING := 'xxx';
another att

INVERSE
remark_inverse_attribute : remark_entity FOR remark_attribute;
yet another attribute.

otherwise looks ok.

[2020-11-29 20:33] #30 closed

[2020-11-29 20:33] zakjan commented on #30
This was indeed a bug, I handled printing multiple derived or inverse attributes incorrectly. Good catch! Fixed and merged.

[2020-12-04 14:45] ronaldtse opened #32 "Implement short-to-long ("shtolo") function to generate long form EXPRESS"
The "shtolo" function is used to flatten the `REFERENCE FROM` expressions in schemas. The output is called "long form EXPRESS" which is described in ISO 10303-11.

[2020-12-24 07:21] zakjan commented on #14
Replaced by #33

[2020-12-24 07:21] #14 closed

[2020-12-27 09:05] ronaldtse commented on #13
Already done in #33

[2020-12-27 09:05] #13 closed

[2020-12-27 09:06] ronaldtse commented on #16
Thanks guys!

[2020-12-27 09:06] #16 closed

[2020-12-28 15:40] CAMOBAP opened #36 "401 Unauthorized Access Denied. Please sign up for an account at https://rubygems.org"
https://github.com/lutaml/expressir/runs/1617122636?check_suite_focus=true

@ronaldtse could you please double-check that LUTAML_CI_RUBYGEMS_API_KEY contains valid API_KEY

[2020-12-29 01:29] ronaldtse commented on #36
Good find -- yes it's now fixed. Thanks!

[2020-12-29 02:36] ronaldtse commented on #36
It didn't work because the `~/.gem/credentials` file did not contain the interpolated API key but the actual string. Trying again now.

[2020-12-29 03:31] ronaldtse opened #37 "Source gem installation error"
It seems that some paths need to be fixed in the compilation process? Ahh this file is only available via submodule. It must be included in the gem itself during build. We need to update the gemspec to include these files.

The `antlr4-runtime.h` file is available here:
<img width="356" alt="Screen Shot 2020-12-29 at 11 30 12 AM" src="https://user-images.githubusercontent.com/11865/103256719-387e7

[2020-12-29 08:31] CAMOBAP commented on #36
@ronaldtse unfortunatelly it still doesn't work (

May I ask you to double-check `LUTAML_CI_RUBYGEMS_API_KEY ` value in with `curl -u metanorma https://rubygems.org/api/v1/api_key.yaml` output?

[2020-12-29 10:15] zakjan commented on #37
If there is no matching precompiled gem, these sources need to be included in gemspec for local compilation. https://github.com/camertron/antlr-gemerator/blob/master/lib/antlr-gemerator/templates/gemspec.erb#L25

[2020-12-29 10:16] CAMOBAP commented on #37
@zakjan @ronaldtse I already solved this locally, now I trying to exclude ext directory for platform gems

[2020-12-29 11:50] CAMOBAP commented on #37
Fix pushed we need to release this ASAP to unblock @opoudjis

@ronaldtse we still have a problem with automated push https://github.com/lutaml/expressir/issues/36, could you please check the last comment again.

Probably we should do push manually this time, I can help with this if you will add me to the team on rubygems (`camobap` is my username on rubygems)

[2020-12-29 13:34] CAMOBAP opened #38 "Linux prebuilt get bigger then 25Mb"
A prebuilt gem on Linux is 10x bigger than on windows or macos, probably we need to strip it explicitly

Also antlr4 depends on gcc 5 or above

cc @ronaldtse

[2020-12-29 13:48] CAMOBAP commented on #37
I have tested:
 - [x] macos (big sur)
 - [x] windows 10
 - [x] docker (ubuntu)

build of native extension works there

[2020-12-29 13:48] #37 closed

[2020-12-29 14:06] CAMOBAP commented on #37
Actually, linux doesn't work I will push fix and release again

[2020-12-29 15:07] CAMOBAP opened #39 "REQUIRED RUBY VERSION: >= 2.4, < 2.5.DEV for all platform gems"
- https://rubygems.org/gems/expressir/versions/0.2.5-x86_64-linux
 - https://rubygems.org/gems/expressir/versions/0.2.5-x86_64-darwin-19
 - https://rubygems.org/gems/expressir/versions/0.2.5-x64-mingw32

Probably some issues with rake-compiler

[2020-12-29 15:14] ronaldtse commented on #38
I believe we can strip the sources in the prebuilt binary. Would that help?

[2020-12-29 15:17] ronaldtse commented on #37
I was able to install from source on macOS.

[2020-12-29 15:18] CAMOBAP commented on #38
I still trying to find a proper way how to do this...

 BTW by strip I mean `strip` utility which removes debug code from the extension's shared library

[2020-12-29 15:19] CAMOBAP commented on #37
Yep but we have a serious problem with prebuilt #39 I researching it right now

[2020-12-29 15:19] ronaldtse commented on #38
Ah, okay. Good to try.

[2020-12-29 21:36] CAMOBAP commented on #39
Fixed by https://github.com/lutaml/expressir/commit/4c159d7069ed14e22d13f832d007836c9a29ec00

[2020-12-29 21:36] #39 closed

[2020-12-29 21:39] CAMOBAP commented on #38
- without strip express_parser.so - 36 412 120
 - after strip express_parser.so - 8 719 904

I think we should pass `-s` explicitly

[2020-12-29 22:21] CAMOBAP opened #40 "Refactor code to remove Nokogiri from dependency"
- https://github.com/lutaml/expressir/blob/master/lib/expressir/express.rb#L1
 - https://github.com/lutaml/expressir/blob/master/expressir.gemspec#L36

@zakjan @ronaldtse can you confirm?

[2020-12-29 22:25] zakjan commented on #40
It seems it's not used, the dependency might be removed instead?

[2020-12-29 22:28] CAMOBAP commented on #40
@zakjan actually we are using it here https://github.com/lutaml/expressir/blob/master/lib/expressir/express/repository.rb#L78

[2020-12-30 07:36] CAMOBAP opened #42 "[URGENT] problems with platform gems"
A couple of issues was discovered for platform gems:
 1. incompatible library version - ubuntu
 2. The specified module could not be found. - windows
 3. GHA workflows need to be updated to brew install autoconf automake - macos

https://github.com/metanorma/metanorma-standoc/runs/1623761565?check_suite_focus=true

[2020-12-30 07:57] CAMOBAP commented on #42
Per we must provide prebuilt for each minor ruby version `2.4` `2.5` `2.6` `2.7`... (now I understand the advantages of `ffi` gem)

Also, I unpacked nogokiri gem and it contains prebuilt for each minor ruby version

I will spend some time to provide it (find some official docs) after this I see the only way is to set up cross-compiling on mac os GHA

[2020-12-30 08:01] CAMOBAP commented on #42
Note platform gems temporaly deleted with:
 - `gem yank expressir -v 0.2.6 --platform x86_64-linux`
 - `gem yank expressir -v 0.2.6 --platform x64-mingw32`
 - `gem yank expressir -v 0.2.6 --platform x86_64-darwin-19`

[2021-01-05 10:54] ronaldtse opened #43 "Create native platform gems to require compilation tools"
As reported by @abunashir : https://github.com/metanorma/metanorma-cli/issues/202

It is necessary to install compilation tools to build the `expressir` gem, such as automake, g++, etc. Users of this gem should not need to do so.

@CAMOBAP is currently working on platform gems to address #42.

[2021-01-07 07:54] ronaldtse commented on #40
I think we no longer want to read from the XML, and can have the Nokogiri dependency removed. @zakjan can you help replace the XML work using the new parser nodes? Thanks.

[2021-01-08 08:23] CAMOBAP commented on #42
What I have found so far:
1. cross-compile approach works good for c extension https://github.com/sparklemotion/nokogiri/blob/master/rakelib/cross-ruby.rake
2. in our case https://github.com/jasonroelofs/rice override some compilation settings and break this approach, researching this right now

If we compare two approaches:

Criteria | rake-compiler-docker | GHA
------- | ------------ | ---------

[2021-01-08 08:39] opoudjis opened #44 "Ensure all text is processed as UTF-8"
I am assuming this is an issue with expressir, but from my distant vantage point in Metanorma, it is hard for me to tell.

The document in https://github.com/metanorma/annotated-express/blob/master/data/resources/action_schema/action_schema.exp is processed by expressir, and then has its parse passed on by lutaml to metanorma

Metanorma assumes all files it is processing are in UTF-8.

Lutaml, I a

[2021-01-08 08:54] ronaldtse commented on #44
Agree. I think this can be easily fixed with reading the file using UTF-8 and apply “normalize_unicode” to ensure the proper characters are normalized.

[2021-01-08 08:55] zakjan commented on #40
I might have misunderstood this, but... if XML parser is updated to use the new model, Nokogiri still stays there.

[2021-01-08 09:43] CAMOBAP commented on #40
@zakjan thanks for the response, initially I created the issue because nokogiri was declared as development_dependency, probably we need to "promote" it to runtime_dependency

I think we can close this one

[2021-01-08 09:43] #40 closed

[2021-01-08 12:22] opoudjis opened #45 "Generalise sourcecode to all elements of expressir"
So far, my understanding is, sourcecode has been realised only for schema and entity so far.

However, the intention for metanorma is that the entire sourcecode of express needs to be replicated in a document. That means that functions, and indeed all elements of express need to have their sourcecode made available, just as they need to have their remarks made available as documentation.

cc @w00l

[2021-01-08 13:40] zakjan commented on #44
I added `.force_encoding('UTF-8')` to string output from the parser (string literals and remarks) in #46, and updated tests, does it help?

[2021-01-08 15:54] zakjan commented on #45
After chatting with @w00lf and @opoudjis , I implemented keeping the original source code on all identifiable nodes. We'll see if it works well for the use case.

@ronaldtse This also solves the issue with untagged remarks, they are going to be available in the original source code. I know that in the beginning I thought this is not doable with ANTLR4, but fortunately later I found a way.

Other a

[2021-01-09 02:41] ronaldtse commented on #45
@zakjan the solution seems perfect. Thanks! We can always have two methods, the 'original source code' (which is stored) and the 're-formatted source code' (which is recursively generated dynamically), to satisfy the needs.

[2021-01-09 05:11] ronaldtse commented on #44
@opoudjis can you help confirm the fix? Thanks!

[2021-01-09 06:50] zakjan commented on #44
I think @opoudjis is very far from this library, we probably need to merge and release so that he can verify it. Merging.

[2021-01-09 06:50] #44 closed

[2021-01-09 06:58] zakjan commented on #45
Thanks, merging.

If multiple different export formats are still the case, for passing re-formatted source code to Liquid templates we might need to implement calling the formatter(s) somewhere else in the chain, so that the model classes can stay decoupled on the formatter(s).

A custom Liquid filter called like `{{ entity | exp }}` would be one of the options, but based on @w00lf's findings, it

[2021-01-09 06:58] #45 closed

[2021-01-09 07:04] ronaldtse commented on #45
External access such as a Liquid filter can exist in lutaml-express instead of Expressir. The approach of `{{ entity | express_method }}` could work.

[2021-01-09 07:07] zakjan commented on #40
Moved Nokogiri to runtime dependencies to fix this conflict until XML parser is updated.

https://github.com/lutaml/expressir/commit/f0517a226736f93a1ab0649f9cd69d4fa5bbb20c

[2021-01-09 13:38] opoudjis commented on #44
I've confirmed it. I am far from the library, but lutaml passes the text through, and it's no longer crashing when I restore the smart apostrophe in the Express source.

[2021-01-10 06:59] ronaldtse commented on #32
The mechanism of `shtolo` is described in ISO 10303-11 Annex G.

[2021-01-10 07:10] zakjan commented on #44
Interesting, it's not released yet :)

[2021-01-10 07:11] ronaldtse commented on #44
@zakjan I believe @opoudjis is using master 😉

[2021-01-10 07:11] zakjan commented on #44
Ok :)

[2021-01-11 09:50] CAMOBAP commented on #42
@zakjan could you please help to understand what is the best way to test that `expressir` command works as expected? I have tried:
 - `expressir  express-to-owl original/examples/ap233/ap233e1_arm_lf_stepmod-2010-11-12.xml`
 - `expressir  express-to-owl original/examples/ap233/ap233e1_arm_lf_stepmod-2010-11-12.exp`

But looks like it produces nothing. What is the best way to do end to end test?

P

[2021-01-11 10:02] zakjan commented on #42
Currently the new native parser is exposed only in Ruby code, there is no external command using it yet in Expressir directly.

express-to-owl uses the previous parser accepting xml only as input. The new parser and model are built in a way so that it could be used also for owl transformation, but it hasn't been implemented yet.

For your testing you can create your own Ruby file:

[code]

This sh

[2021-01-12 15:27] CAMOBAP commented on #38
Fixed after migration from `mkmf-rice`

[2021-01-12 15:27] #38 closed

[2021-01-12 17:52] CAMOBAP opened #48 "Fix compilation errors for Ruby 3.0.0"
https://github.com/lutaml/expressir/actions/runs/480422265

[2021-01-12 17:54] CAMOBAP commented on #43
Platform gems will not require such tools anymore, there is few subtasks left in #42

[2021-01-12 17:57] CAMOBAP commented on #42
Ok, what I did so far:
 - [x] cross-compilation works for windows, macos, linux, on [2.4, 2.5, 2.6, 2.7, 3.0]
 - [x] gem installation works for gem without prebuilt extension
 - [ ] platform gem for some reason add 2.5 >= requirments

[2021-01-12 22:34] CAMOBAP commented on #42
After release `gem install expressir --platform x86_64-darwin` still require to build native extension, I will check tomorrow, maybe it's related to some caching issues on rubygem.org side

[2021-01-12 22:46] #42 closed

[2021-01-12 22:47] CAMOBAP commented on #43
@abunashir @ronaldtse should work now for 0.2.7 release (please reopen in you still have any issues)

[2021-01-12 22:47] #43 closed

[2021-01-13 00:36] ronaldtse commented on #43
Thank you @camobap!

[2021-01-14 10:24] CAMOBAP commented on #36
@ronaldtse this till a problem for us, we need to make sure that `LUTAML_CI_RUBYGEMS_API_KEY` is correct one

[2021-01-14 10:30] ronaldtse commented on #36
@CAMOBAP as mentioned, the API key is 100% correct...

[2021-01-14 17:16] w00lf opened #49 "Support exporting and importing a parse tree cache"
From lutaml/lutaml-express#4:

We want to allow a defined set (via YAML or XML) of EXPRESS schemas available for Metanorma to navigate.

This requires Expressir to have the following functionality:

- fully parse all the schemas and keep them around
- for speed reasons, Expressir should support exporting/importing a parsed cache that contains the schema set

[2021-01-18 07:46] ronaldtse commented on #32
@TRThurman : Annex G includes a mechanism to convert the schema to an ISO 10303-11:1994 schema.

G.1 states:

And G5 provides the "Stage 2" procedure:

<img width="606" alt="Screen Shot 2021-01-18 at 3 42 48 PM" src="https://user-images.githubusercontent.com/11865/104885933-d1d6f900-59a3-11eb-84a2-eb48df4fe1c2.png">

I'd like to confirm that `shotolo` requires this mechanism implemented. Thanks.

[2021-01-18 14:50] TRThurman commented on #32
Confirmed.

[2021-01-18 18:54] ronaldtse opened #50 "Support informal propositions"
In annotated-express/action-schema.exp there is this remark tag:

[code]

This is an "informal proposition". The only documentation for "informal propositions" I found was in `ISO-TC184-SC4_N3485_Supplementary_Directives` "Rules for the structure and drafting of SC 4 standards for industrial data, edition 5":

<img width="742" alt="Screen Shot 2021-01-19 at 2 51 01 AM" src="https://user-images.git

[2021-01-18 18:55] ronaldtse commented on #50
@zakjan please also help describe/document how to retrieve one informal proposition from an EXPRESS entity via API call. Thanks.

[2021-01-18 18:56] ronaldtse commented on #32
Thanks @TRThurman for the confirmation. We will work on this after the publication process is settled.

[2021-01-19 00:05] TRThurman commented on #50
We shall use the domain_rule syntax with a special STEPmod interpretation of the id value of '"IP"<N>

so:
(*"action.wr:IP1"
This is a dummy ip inserted for prototyping.
note that the e.g., arm.xml uses a special encoding of a WR name to indicate an IP.
*)

As we require domain rules to NOT begin with "IP",conflict is avoided.

This is already implemented in the existing publication pipeline in e.

[2021-01-19 08:13] zakjan commented on #50
@ronaldtse From the parser perspective, this can be considered as another type of remark, recognizable with a special remark tag syntax. How about to make it accessible as `entity.informal_proposition_remarks`?

[2021-01-19 08:59] ronaldtse commented on #50
@zakjan Basically IPs are like "where rules" but they are not stated inside the EXPRESS code, but only available as annotations to the EXPRESS entity.

How does one obtain "where rule" annotations right now?

We should use a similar mechanism as shown by @TRThurman :

[code]

i.e.
EXPRESS Path of `"action.wr:WR1"` gives us this:
[code]
and this:
[code]

EXPRESS Path of `"action.ip:IP1"` gives us a

[2021-01-19 09:17] ronaldtse opened #51 "Support loading from an index of `.exp` files or a directory that contains `.exp` files"
Expressir should support loading multiple schemas two ways:
(as per 2021-01-18 discussion with @TRThurman @brandonsapp)

1. Given a directory, read from all the `.exp` files inside, the `REFERENCE FROM` links are to be resolved to schema paths considered they are under the same directory (e.g. file `./foo.exp` has `REFERENCE FROM bar`, means that `bar.exp` is under `./` as well).
2. Given an index

[2021-01-19 09:18] ronaldtse opened #52 "Remove XML parser"
Expressir does not need to read from XML anymore.

The OWL functionality should be re-based on the new EXPRESS parse nodes.

[2021-01-19 10:01] zakjan commented on #50
Thanks, it's helpful to know that they are more like where rules.

Currently a where rule can be retrieved by id by:
- `schema.find("action.WR1")`
- `entity.find("WR1")`
- `entity.where.select(|x| x.id == "WR1")`
- `entity.where.first`
IPs can be supported in a similar way.

However, paths containing `:` are not supported yet by the parser. It's fairly simple to add them, if there is a spec, or at

[2021-01-19 10:02] zakjan commented on #50
Also, can the path be nested like `<id>.<child_type>:<child_id>.<child2_type>:<child2_id>`?

[2021-01-19 11:10] ronaldtse commented on #50
Excellent.

I have to add that ISO 10303-11, 7.1.6.1 does not acknowledge the syntax with `:` (colon):
<img width="580" alt="Screen Shot 2021-01-19 at 6 59 29 PM" src="https://user-images.githubusercontent.com/11865/105026676-c827c100-5a89-11eb-83a6-792c45eca1e2.png">

(@TRThurman can you confirm the syntax `<type>:<id>` is desired and acceptable from the viewpoint of ISO 10303?)

I think we can e

[2021-01-19 17:58] TRThurman commented on #50
aaah, sorry for confusion.

10.3.12 Rule label
Visibility : A rule label is visible in the scope of the entity, rule or type in which it is declared.
NOTE The rule label may be used by implementations or in a remark tag (see 7.1.6.3.

here is the production for WHERE clause
where_clause = WHERE domain_rule ’;’ { domain_rule ’;’ }
and for domain_rule
202 domain_rule = [ rule_label_id ’:’ ] expressi

[2021-01-19 18:11] TRThurman commented on #51
Also need to resolve the USE FROM links.

Not sure I understand the question.
The use of that specific index is only for performance reasons in the publication process.
Note that because it is the result of an external process, it may not be current.
Sometimes we move ENTITY declarations from one file to another,
so the build process will need a link check to ensure link validity.

Thomas Thurman

[2021-01-20 04:13] zakjan commented on #50
Generally I'm following section 10.1, table 9, Scope and identifier defining items. Rule labels are identifiers, that's fine. Interface specifications (use from / reference from) are not.

Remark tags `foo.WR1` and `foo.IP1` are already supported, these are parsed as `<id>.<child_id>`.

My uncertainty is about remark tags `foo.wr:WR1` and `foo.ip:IP1`, whether it should be parsed as `<id>.<child_t

[2021-01-20 15:52] TRThurman commented on #50
It looks to me like it should be <id>.<child_id>.
I don't see a use for the colon and RHS in the remark tag.

Yes

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attachments) is covered by the Electronic Communications Privacy Act, 18 U.S.C. 2510-2521, is confidential and may be legally privileged.  If you are not the intend

[2021-01-20 16:45] ronaldtse opened #53 "Ability to only extract current node's code (instead of all inner code)"
In the ISO 10303 series this usage is common:

<img width="653" alt="Screen Shot 2021-01-21 at 12 41 58 AM" src="https://user-images.githubusercontent.com/11865/105206565-79f5e900-5b81-11eb-87b4-69c552b17572.png">

Notice here the SCHEMA part differs from the original code (screenshot of Metanorma output):

<img width="619" alt="Screen Shot 2021-01-21 at 12 42 24 AM" src="https://user-images.githu

[2021-01-20 16:58] ronaldtse commented on #53
As described by @opoudjis

[2021-01-20 17:25] ronaldtse commented on #50
Let's just keep <id>.<child_id> then -- simplest. Then there is nothing further to do here, right @zakjan ?

[2021-01-21 05:41] zakjan commented on #50
Added ignoring child_type part. `<child>.<anything>:<child_id>` is now parsed as `<child>.<child_id>`

[2021-01-21 05:44] zakjan commented on #50
So that files that already use this syntax are supported by the parser

[2021-01-21 05:52] zakjan commented on #50
There is still one more thing to do, add support for informal propositions as separate items.

For each remark with child_id starting with IP, move it to `child.informal_propositions, and remove it from remarks, right? Where rules are allowed on entity, rule, type items, is it the same with informal propositions?

[2021-01-21 08:33] zakjan commented on #53
Re the bug, it's weird, source attribute should contain original tokens without any change. I added a test that confirms it. https://github.com/lutaml/expressir/blob/7ae5967b01895b7be82427697543495142eb721a/spec/expressir/express_exp/source_spec.rb

Is it possible that the string changes along the way?

[2021-01-21 08:44] zakjan commented on #53
Based on the different schema header, with vs. without schema version id, it seems that this is not the original source, but a generated source.

Source for any item can be obtained by calling Formatter on the object. For all interfaces, it would be `schema.interfaces.map{|x| Formatter.format(x)}.join("\n\n")`. Is there any progress about the possibility of calling Formatter from Liquid?

[2021-01-21 09:01] ronaldtse commented on #53
For @opoudjis to answer.

Ping @w00lf

[2021-01-21 09:05] ronaldtse commented on #53
@zakjan this is unfortunately the source and target texts. Moreover, we also need a mechanism to read the ASN.1 representation inside that version string.

@TRThurman can we confirm that the generated output of:
[code]
must become:
[code]
?

Is there some current mechanism in the EXPRESS XML files that strips away the version string?

[2021-01-21 09:25] ronaldtse commented on #51
@TRThurman right, the keyword here is "validation". We want to ensure that a schema is valid with all the REFERENCE/USE FROM statements leading to proper locations/schemas and entities.

[2021-01-21 09:45] zakjan commented on #53
Either I can remove version from Formatter default output, or it can accept options object to enable customising the output, in case version is needed in the output for other purposes. Version string can be parsed into separate fields. Both is fine.

However, we need to find out where to call Formatter in the current chain of libraries, so that it plays well with Liquid.

[2021-01-21 12:48] w00lf commented on #53
Hi there, have not looked into it yet

[2021-01-21 13:15] TRThurman commented on #53
Where do you see this behavior?

Sent from my iPhone

[2021-01-21 13:21] TRThurman commented on #50
Sent from my iPhone

Yes
Anywhere a domain rule is allowed an IP is allowed.
But I repeat that as far as EXPRESS is concerned IPs are remarks.

[2021-01-21 13:39] opoudjis opened #54 "Hyperlink sourcecode to definitions"
This is an issue that I have no idea how it is going to be addressed, and it will likely need contributions from both of you.

In ISO 10303, source code is annotated with hyperlinks to the definitions of the keywords being used:

<img width="1083" alt="Στιγμιότυπο 2021-01-22, 00 29 52" src="https://user-images.githubusercontent.com/1911039/105357526-159e5c80-5c49-11eb-9a20-25d1ee2038f1.png">

I ca

[2021-01-21 13:46] opoudjis commented on #54
Needed for https://github.com/lutaml/expressir/issues/54

[2021-01-21 13:50] ronaldtse commented on #54
It can be done by these steps:
1. make the Expressir parse tree available in Metanorma
2. During the metanorma run, make note in the expressir tree nodes on where each EXPRESS element is documented (associate the metanorma anchor with the EXPRESS element)
3. Process the EXPRESS snippets in Metanorma using the Expressir parse tree so it Expressir can add links in the snippet for Metanorma.

[2021-01-21 13:50] zakjan commented on #54
Escape mark output could be triggered with another option for the formatter

[code]

[2021-01-22 06:23] ronaldtse commented on #53
@TRThurman the left of this image is the original; the right is from Metanorma.
<img width="944" alt="Screen Shot 2021-01-22 at 2 08 26 PM" src="https://user-images.githubusercontent.com/11865/105453568-4fa84680-5cbb-11eb-8b34-a8b7aa14a3b3.png">

Notice the left side the "EXPRESS specification" block ends at `REFERENCE FROM`, but the right side it includes `TYPE` and all the way down to `END_SCHEM

[2021-01-22 10:43] zakjan commented on #50
Behavior implemented:

When a matching remark tag is found, an implicit InformalProposition item is created under parent.informal_propositions. Content is available inside its remarks, because there could be multiple remarks with the same remark tag.

[2021-01-22 10:45] zakjan commented on #50
Test: https://github.com/lutaml/expressir/blob/c1ff50200e088387ef1a2ee8dcd51f3a5e2c10e2/spec/expressir/express_exp/parse_remark_spec.rb#L59-L69

[2021-01-22 10:45] zakjan commented on #50
The most important test confirming this: https://github.com/lutaml/expressir/blob/c1ff50200e088387ef1a2ee8dcd51f3a5e2c10e2/spec/expressir/express_exp/parse_remark_spec.rb#L59-L69

[2021-01-22 10:45] zakjan commented on #50
Is it good to merge?

[2021-01-22 10:46] zakjan commented on #50
@ronaldtse Is it good to merge?

[2021-01-22 10:49] zakjan commented on #52
There is #15 for it

[2021-01-22 10:51] zakjan commented on #53
@w00lf Currently it's `Expressir::ExpressExp::Formatter.format(node)`.

Btw, I'm considering to rename `ExpressExp` to just `Express`, together with cleanup of the previous code in #52, #15

[2021-01-22 15:26] TRThurman commented on #53
Keith,
We need your input here:
Context is the metanorma EXPRESS source to HTML tool chain.

There is information loss from the EXPRESS resource schemata source to the html in the current publication pipeline.
The following screenshots are from SMRLv8.
1 is the clause4 of part 41,
2 is the html of the Annex C computer interpretable listing
3 is the EXPRESS source in Annex C computer interpretable

[2021-01-22 16:41] TRThurman commented on #53
There was some issue I cannot recall with putting the full header in the document.   I think it may have been that the tool pipeline removes all comments from the EXPRESS.  However there is an outside chance ISO CS Editors may object to the statements in the header being published in the document, even though they insisted that those statements be put in the electronic insert.

Is there something

[2021-01-22 16:55] TRThurman commented on #53
Thanks!

ISO required the full header in the EXPRESS text file, which we do comply with.
This issue is only about this line:

"SCHEMA action_schema.....;"

Therefore we will go ahead with making the html reflect the EXPRESS for that declaration.

Tom

Thomas Thurman
Principal Electrical Engineer, Rockwell Collins (Retired)

Confidentiality Notice: This e-mail (including attachments) is covered by

[2021-01-22 17:36] ronaldtse commented on #53
Thank you @TRThurman and @kahunten!!

[2021-01-22 17:39] ronaldtse commented on #53
@zakjan so there is no need to strip away the EXPRESS version string anymore, the EXPRESS definitions should be faithfully reproduced in the document.

[2021-01-23 05:45] ronaldtse opened #56 "Release flow fails due to failed API Key interpolation"
https://github.com/lutaml/expressir/blob/7ae5967b01895b7be82427697543495142eb721a/.github/workflows/release.yml#L77

Should be:
https://github.com/metanorma/mn2pdf-ruby/blob/82ad10800869f5af7341986dfb6acbf391b062e0/.github/workflows/release.yml#L35

[code]

[2021-01-23 08:46] CAMOBAP commented on #36
@ronaldtse you are right, there was a strange issue with the key, I still don't know why but without passing a key it just works

[2021-01-23 08:46] #36 closed

[2021-01-23 08:47] CAMOBAP commented on #56
Fixed, more details here https://github.com/lutaml/expressir/issues/36#issuecomment-765890460

[2021-01-23 08:47] #56 closed

[2021-01-23 10:11] zakjan commented on #54
Excuse me, the above was only a suggestion how a formatter could support changing output for a particular use case. It's not implemented yet.

Maybe even better could be to subclass the formatter and override [format_expressions_simple_reference](https://github.com/lutaml/expressir/blob/master/lib/expressir/express_exp/formatter.rb#L845-L847) method to return ids with cross-references. This would

[2021-01-23 10:35] zakjan commented on #54
Solutions above assume that only parsed ids with model representation needs to be overridden.

@ronaldtse Do you know if also ids appearing in remark content needs to be overridden? These don't have any model representation, because remark content is a free-form text. This would need a different solution, based on matching known ids in the source string.

[2021-01-24 08:49] opoudjis commented on #53
@zakjan

I am having difficulty seeing how. I invoke

[code]

and I get:

[code]

schema is all one big dump of stuff. I am not doing a thing to that dump, it's a one-liner in lutaml, and I have no idea what to debug.

The fact that the commas, not just the carriage returns are being collapsed in one specific semantic class of text does make me think that this is happening in expressir; metanorma

[2021-01-24 09:48] zakjan commented on #53
Ok, I'm sorry, this is a bug in formatter indeed. I'll fix it later today.

Note that the new attribute with original source is called `source`.

[2021-01-24 10:06] ronaldtse opened #57 "EXPRESS source formatter buggy"
I am having difficulty seeing how. I invoke

[code]

and I get:

[code]

schema is all one big dump of stuff. I am not doing a thing to that dump, it's a one-liner in lutaml, and I have no idea what to debug.

The fact that the commas, not just the carriage returns are being collapsed in one specific semantic class of text does make me think that this is happening in expressir; metanorma has no re

[2021-01-24 10:06] ronaldtse commented on #53
Let's deal with the source formatter issue in #57.

[2021-01-24 10:08] ronaldtse commented on #53
@zakjan just to clarify, this current task is still active -- we still need to have the ability to obtain the source of the "current node" WITHOUT the inner nodes.

In this particular case, it is `SCHEMA ...` + the schema's `REFERENCE FROM ...` nodes.

[2021-01-24 10:54] w00lf commented on #54
@ronaldtse  @zakjan after some extended research i can say for sure that we cant use any objects inside liquid templates, so the approach with a custom formatted filter: {{ node.sourcecode | format }} won't work. The first call to the object will execute its `to_liquid` method and if it returns anything except of String, Number, Hash or Array it will be discarded and the chain will stop. We need t

[2021-01-24 11:10] w00lf commented on #54
Because we also need to cross-link all elements I propose to also introduce dependency injection `formatter` - this object will be used to format sourcecode when I call `schema.node.formatted_sourcecode`. That way I can inherit from the default formatter and override its `format_expressions_simple_reference` method to introduce crosslinks. Usage from code can be like this: `repo = Expressir::Expre

[2021-01-24 14:12] zakjan commented on #57
Fixed in https://github.com/lutaml/expressir/commit/6588186bfc3a47a86d2debf664aa7fbd6e1bba51

[2021-01-24 14:12] #57 closed

[2021-01-25 05:33] zakjan commented on #53
Original source or formatter output? What are the other cases?

[2021-01-25 05:57] zakjan commented on #54
Thanks for the research. It's unfortunate that passing custom objects into Liquid is not supported. Where does adding formatter reference and methods to model classes help then?

Anyway, it depends whether ids in remarks content should also be formatted as hyperlinks or not. @ronaldtse Could you clarify this? If yes, it would need #49 + match for known ids in original source instead.

[2021-01-25 06:58] ronaldtse commented on #53
Preferably configurable.

We must at least support `SCHEMA ...` + the schema's `REFERENCE FROM`. As long as there is a way to get this output.

[2021-01-25 07:11] zakjan commented on #53
They are completely separate implementations, one must be chosen first

[2021-01-25 07:30] ronaldtse commented on #53
Both should be accessible, because the use cases are different. Sometimes we need the raw source. Sometimes we want the formatted source.

I don't understand what needs to be "chosen" here?

[2021-01-25 07:45] zakjan commented on #53
There is nothing shared between them, they come from different places. I'll need to choose one to start with in, and it is going to be the first one available. Which one is preferred for the current use case?

[2021-01-25 07:49] ronaldtse commented on #53
If the formatted version can provide all the original remarks (tail remarks, embedded remarks), we should do that first. Otherwise, the raw version.

[2021-01-25 07:55] zakjan commented on #53
Formatted version currently provides only tagged remarks (both tail and embedded), but no untagged remarks, and they are printed at the end of entire output. So it seems we're going for raw version, thanks.

[2021-01-25 08:00] w00lf commented on #54
Yes, I used the wrong term, we need an instance variable called `sourcecode`, lutaml will automatically  serialize it and add to the liquid context. The formatter reference is needed in order to overwrite `format_expressions_simple_reference` method from lutaml, replace it with the full reference path.

[2021-01-25 08:12] ronaldtse commented on #53
@zakjan For the formatted version I'm concerned with this type of tail remarks:

[code]

Is this doable in the formatted version?

[2021-01-25 08:16] zakjan commented on #53
Hmm, I'm not sure, I'll do more research about it and let you know.

[2021-01-29 07:38] ronaldtse commented on #54
Now I understand what @w00lf wanted, which is correct.

In order to format the source code with links, he’s planning to use the Expressir parse tree where a custom formatter can provided, so the appropriate code bits can be formatted in the way desired.

This means that the original “formatted_sourcecode” method is supposed to be passed a “PlainFormatter” where everything is formatted as plain tex

[2021-01-29 07:59] w00lf commented on #54
No, the approach with `formatted_sourcecode` method will not work, it needs to be an instance attribute, we cant call any methods from liquid

[2021-01-29 08:01] ronaldtse commented on #54
Can’t we implement this in a custom filter and place this code in LutaML?

[2021-01-29 08:05] w00lf commented on #54
No, unfortunately, the custom filter approach will not work. I have tried a number of approaches to do that: custom wrappers, liquid Drops - none of them supports working with the original objects inside the liquid context. With custom filters, you cant just use `object.attribute | custom_filter` - in this case, the first call to  `object` will trigger its `to_liquid` method and after that liquid

[2021-01-29 08:24] zakjan commented on #54
It's unfortunate that there is this incompatibility with Liquid, I didn't expected it. Passing formatter instance to parser could indeed solve this particular usecase. However, I'd be careful about it, because it would prevent passing parsed model from another source outside of LutaML control, e.g. deserialized from cache (#49).

I have an idea to discuss. How about changing the model from classes

[2021-01-29 08:28] zakjan commented on #54
Or instead of changing from classes to hashmaps entirely, there could be `to_map` method on all classes, which would call `to_map` on their children as well.

[2021-01-29 08:36] w00lf commented on #54
We already doing that in lutaml: https://github.com/lutaml/lutaml/blob/master/lib/lutaml/express/lutaml_path/document_wrapper.rb#L26, https://github.com/lutaml/lutaml/blob/master/lib/lutaml/lutaml_path/document_wrapper.rb#L28

[2021-01-29 08:52] zakjan commented on #54
Yes, in the current state, LutaML prepares the model for presentation, including calling Formatter wherever it's needed, so that it can be used in the templates. I can see Formatter is already called there, so this approach works, right?

However, it needs LutaML to have knowledge about the model structure. Is it fine, or would it be better to keep the model opaque to LutaML?

I'll probably need t

[2021-01-29 09:19] ronaldtse commented on #54
I've discussed this with @w00lf and there are two ways to do it:

1. `Expressir.fomatter = MyCustomFormatter`. Jan uses `Expressir.fomatter` in order to create formatted source code and LutaML has `MyCustomFormatter` which will have access to the metnorma express cache. This we only pass around hashes in Liquid.

2. Use Liquid Drops (which can carry any data internally, but can only return typical

[2021-01-29 09:33] opoudjis commented on #54
Discussion with Jan:

[2021-01-29 10:45] zakjan commented on #50
I assume it's fine, merging

[2021-01-29 10:45] #50 closed

[2021-01-29 13:08] zakjan commented on #53
Reopening for research to add untagged remarks to the parsed model, so that it's formatted roughly at a position similar to the original source.

[2021-02-01 07:37] ronaldtse commented on #49
@zakjan I heard from @w00lf there is some confusion on why this task is necessary.

The goal here is to create a serialized parse tree so that Expressir does not need to re-parse the EXPRESS schemas, e.g. a Marshall-ed instance of the parse tree in Ruby.

ISO 10303 contains hundreds of EXPRESS schemas -- as you know parsing all of them takes a long time. Since we need to load the entirety of these

[2021-02-01 09:16] zakjan commented on #49
I'm sorry, the confusion was not about why, but what's needed from me. With @w00lf we came up with this API:

- Expressir::Cache.to_cache(filepath, model) - saves the model to file, including current Expressir version
- Expressir::Cache.from_cache(filepath) - loads the model from file, throws if loaded cache version doesn't match current Expressir version

filepath is the marshaled file, model is

[2021-02-01 11:32] ronaldtse commented on #49
Ah! Maybe something like Cache.to_file and from_file.

Instead of Ruby’s Marshal (which embeds ruby classes), it would be better to use a proper YAML or a zipped YAML format (JSON also works but again prefer YAML for readability and compactness) in case for parsers in other languages.

[2021-02-01 11:40] zakjan commented on #49
I understand the concerns about marshaling. YAML/JSON requires to implement from/to_map methods first, so it's going to take longer, I can have it ready in the end of this week.

[2021-02-01 12:14] ronaldtse commented on #49
@zakjan okay, let's go with zipped YAML then, thanks.

[2021-02-09 11:11] w00lf opened #63 "Problem with the compiled release binaries"
When tried to use the latest version of lutaml with expressir 0.2.10 got this error - https://github.com/lutaml/lutaml/pull/14/checks?check_run_id=1861464629
[code]
It seems like some kind of error with the compiled binary

[2021-02-09 12:29] CAMOBAP commented on #63
Here is a list of reported dependencies:

[code]

`libwinpthread-1.dll` and `libstdc++-6.dll` under suspect...

[2021-02-11 00:01] opoudjis commented on #54
Samples:

https://github.com/metanorma/iso-10303-smrl/tree/master/reference-docs/N10480_SMRL_v8_rc5

Check out, and navigate to: reference-docs/N10480_SMRL_v8_rc5/data/resource_docs/fundamentals_of_product_description_and_support/sys/contents.htm

fundamentals_of_product_description_and_support is ISO-10303-41, the document we are reproducing

[2021-02-11 00:02] opoudjis commented on #54
Updated, it is now `{{{express:fully-qualified-path-starts-with-schema-id,text-in-source-code>>}}}` (so different namespace)

[2021-02-11 00:21] opoudjis commented on #54
That is my understanding, yes. So:

[code]

Nothing to the left of a colon is hyperlinked, because they're all defined in that clause (attribute names, wheres). Everything right of colon (types) is hyperlinked, including both action_method in the current schema, and label and identifier in other schemas in the same document.

[2021-02-11 00:28] opoudjis commented on #54
Don't understand the question

[2021-02-11 00:31] opoudjis commented on #54
It does seem all of them, except that the body of functions (as opposed to its parameters) is not hyperlinked.

Note that

[code]

doesn't have `acyclic_action_directive_relationship` hyperlinked; I suspect that might well be a technical failing of their hyperlinking system, not recognising functors before parentheses.

[2021-02-11 06:38] zakjan commented on #54
What's the expected output for combined references such as `SELF\Shape_element.element_name[1:13]`?

Based on the samples, it seems that it should be `SELF\{{{<express:Shape_property_assignment_arm.Shape_element,Shape_element>}}}.element_name[1:13]`, i.e. hyperlinking the first part of the reference after SELF. Could you confirm this, or is there another more preferred format? In any case I'll nee

[2021-02-11 06:44] zakjan commented on #54
This would mean skipping all kinds of local variables, is it correct?

[2021-02-11 08:46] CAMOBAP commented on #63
Both of those libraries are available. Locally I cannot reproduce "127: The specified procedure could not be found." only "ruby 126: The specified module could not be found."

Investigation in progress

[2021-02-11 08:59] zakjan commented on #54
It seems that ids with `\` are used only in function bodies or expressions (e.g. where rules). The syntax is described in the spec 12.7.4 Group references.

![Screen Shot 2021-02-11 at 9 56 32](https://user-images.githubusercontent.com/173585/107617210-c946ab00-6c4f-11eb-8a1e-a11d53ff0cd8.png)

[2021-02-11 12:28] opoudjis commented on #54
I have no means of confirming this, because I don't know anything more than you do about the samples. I suggest doing the maximum that is easy to hyperlink (but no local variables, you're right—they would be defined within the clause presenting the function anyway). We can always get feedback if more are needed.

[2021-02-11 13:34] zakjan commented on #53
@w00lf @opoudjis Please use a custom formatter for this from now on:

[code]

Let me know when you do the change, I'll remove `schema.head_source`.

[2021-02-11 13:34] #53 closed

[2021-02-11 13:39] zakjan opened #64 "Ability to include untagged remarks into parse tree and formatter output"
The challenge is that Express formatting is different between original and formatted code. I'll probably need to introduce some sort of attach points where untagged remarks can attach to (e.g. after each item in a list). With this approach, slight variances would still be possible.

[2021-02-11 13:40] zakjan commented on #53
Created https://github.com/lutaml/expressir/issues/64 for including untagged remarks into parse tree and formatter output

[2021-02-11 13:43] zakjan commented on #49
Note: there is already ModelElement.from_hash, and to_hash on all ModelElement instances

[2021-02-13 03:41] ronaldtse opened #65 "Formatted output should follow ISO/TC 184/SC 4 Supplementary Directives"
Formatted output of Expressir should conform to ISO/TC 184/SC 4 Supplementary Directives, Clause 6 "EXPRESS presentation style" (except 6.5.2, 6.7 - 6.9).

The document is available here:
https://github.com/metanorma/iso-tc184-sc4-directives/issues/1

Specifically,

- Layout: explains how to use indentation, blank lines, and other white space to produce a consistent layout (see 6.2).
- Expression:

[2021-02-13 16:02] zakjan commented on #51
Loading multiple files into a single `Repository` instance is implemented here in Expressir with `Parser.from_files(array)` method.

The knowledge of parsing iso-10303-stepmod directory structure to an array of files is implemented in stepmod-utils by reading repository_index.xml. https://github.com/metanorma/stepmod-utils/blob/master/exe/stepmod-find-express-files It can be enhanced to support ot

[2021-02-13 16:02] #51 closed

[2021-02-16 09:09] zakjan commented on #48
Compilation errors are gone, closing

[2021-02-16 09:09] #48 closed

[2021-02-16 13:36] zakjan commented on #64
Probably depends on #65, because it can clarify what are expected attach points.

[2021-02-17 20:06] CAMOBAP commented on #63
@zakjan to be on the same page do we have any tests which call native parser code?

[2021-02-18 07:58] zakjan commented on #63
Yes, all tests in https://github.com/lutaml/expressir/tree/master/spec that call Parser.from_exp

[2021-02-20 08:32] CAMOBAP commented on #63
- `express_parser-orig.so` - the one from platform gem (from rubygems.org) - doesn't work 126/127 issues
 - `express_parser.so` - the one from GHA CI - works

<img width="1212" alt="Screen Shot 2021-02-20 at 11 23 31 AM" src="https://user-images.githubusercontent.com/2169738/108589372-0822e200-736f-11eb-8acc-666f3cb56f27.png">

The one difference is that `express_parser-orig.so` require `user32.dl

[2021-02-24 22:42] zakjan commented on #54
Reopening for feedback and final improvements

[2021-02-25 12:58] zakjan commented on #54
Infinite recursion caused by cyclic reference between product_property_definition_schema and product_property_representation_schema is fixed.

TODO: support renamed references:

[code]

[2021-03-01 06:36] ronaldtse opened #69 "ISO 10303-11 embedded remark grammar lacks support for blanks and Unicode"
As reported here: https://github.com/metanorma/stepmod-utils/issues/62

The current grammar for embedded remark in ISO 10303-11 lacks support for the "blank space" ('` `') and does not support Unicode characters (and any diacritics outside 7-bit ASCII). i.e. ISO/IEC 8859 characters are also not supported.

![](https://user-images.githubusercontent.com/173585/109418468-d04c1800-79c8-11eb-85b5-f4982

[2021-03-01 11:19] zakjan commented on #69
Considering that that spaces are ignored everywhere between tokens in the regular source code, it seems that this rule applies to the remark content as well. However, effectively it means that remark content is supposed to be parsed into tokens as the rest of the source.

Currently Expressir doesn't parse remark content into tokens. Simpler rules are used for matching remarks content, "anything ex

[2021-03-01 14:07] TRThurman commented on #69
Does this impact the design of the workflow using the annotated express?

[2021-03-02 00:21] zakjan commented on #54
Support for hyperlinking renamed references is implemented.

[2021-03-02 01:17] #54 closed

[2021-03-02 06:19] ronaldtse commented on #69
Here are the relevant sections from ISO 10303-11.

Whitespaces are allowed between tokens.

It is specified that the whole remark is considered "whitespace".

* It is not specified whether the content inside the remark are parsed to tokens.
* Interestingly, the newline character (7.1.5.2) is expressly allowed inside embedded remarks.
* Since it says "Any character within the EXPRESS character set

[2021-03-02 06:20] #69 closed

[2021-03-02 14:42] zakjan commented on #69
This explains it. Thanks for confirming!

[2021-03-02 14:58] zakjan commented on #54
Releasing as 0.2.15

[2021-03-06 06:52] ronaldtse opened #71 "Documentation: How to obtain EXPRESS schema version string"
Needed in https://github.com/metanorma/annotated-express/issues/22

e.g., need to fetch version string of schema `{ iso standard 10303 part(41) version(8) object(1) action-schema(1) }` when given parsed schema `action_schema`

Schema:
[code]

[2021-03-06 16:36] zakjan commented on #71
It is available in [Schema.version](https://github.com/lutaml/expressir/blob/master/lib/expressir/model/schema.rb#L8)

[2021-03-06 16:36] #71 closed

[2021-03-07 05:01] ronaldtse commented on #71
@zakjan can you help add this in the README? Thanks.

[2021-03-07 08:06] zakjan opened #72 "Express model documentation"
Currently, there is no explicit Express model documentation. All available classes, members, and usage can be seen directly in [model classes](https://github.com/lutaml/expressir/tree/master/lib/expressir/model) and [sample input file](https://github.com/lutaml/expressir/blob/master/original/examples/syntax/syntax.exp) + [parser test](https://github.com/lutaml/expressir/blob/master/spec/expressir/

[2021-03-07 08:07] ronaldtse commented on #72
Something like this https://github.com/fontist/fontist to start with?

[2021-03-07 08:08] zakjan commented on #71
Created #72 for choosing a documentation approach for Express model classes.

[2021-03-07 12:28] CAMOBAP commented on #63
Also, I have tried to analyze OS even journal with Process Monitor but no success yet...

[2021-03-09 23:14] #65 closed

[2021-03-10 05:49] zakjan commented on #72
Parser test was replaced by [YAML export](https://github.com/lutaml/expressir/blob/master/original/examples/syntax/syntax.yaml).

[2021-03-10 09:48] CAMOBAP commented on #63
@zakjan FYI it's now possible to do release just from GH web sitehttps://github.com/lutaml/expressir/commit/7f2737f9fe4ca8d2278d90e93dcf056d15a9e4b1

You can select the next version and triggered release workflow manually.

In my opinion, it's not a primary way to do releases, but can be useful in some cases for instance: all changes already in the repo and you just need to trigger the release, an

[2021-03-10 15:35] CAMOBAP commented on #63
@w00lf fixed version of `expressir` was pushed to rubygems.org

Tests in `lutaml` still failing because https://github.com/lutaml/lutaml-express/commit/c304d32f8a4913c6ac67bc1c1cbf938b19acac00 need to be released

I'm closing this one

[2021-03-10 15:35] #63 closed

[2021-03-12 10:27] #49 closed

[2021-03-12 13:59] CAMOBAP opened #73 "Expressir release workflow broken"
collect2: error: ld returned 1 exit status

https://github.com/lutaml/expressir/runs/2094760577?check_suite_focus=true#step:7:2127

cc @ronaldtse

[2021-03-12 21:08] CAMOBAP commented on #73
0.2.21 - pushed manually. Probably the issue happens because on CI docker executed from linux OS (just guessing).
I was able to build from macos without any compilation issues

Investigation in progress

[2021-03-13 13:12] CAMOBAP commented on #73
Fixed in 3d8216966e619899e9957dc81a22b719be84e52d

Tested in https://github.com/lutaml/expressir/actions/runs/648996030

[2021-03-13 13:12] #73 closed

[2021-03-17 10:01] zakjan opened #74 "Segfaults in C++ native extension"
Opening this issue to summarize the state of C++ native extension stability.

During the initial implementation of C++ native parser, there used to be frequent segfaults. In that time, I decreased segfault frequency to none on my machine by reordering of Ruby code, so that it always first extracts values from native classes to Ruby variables, and only then uses them for further processing. It's st

[2021-03-18 11:22] ronaldtse commented on #74
Any thoughts @CAMOBAP ? I am on macOS using the precompiled version. It only happened once to me...

[2021-03-18 11:58] CAMOBAP commented on #74
@ronaldtse as far as I understood we are talking about https://github.com/metanorma/annotated-express/pull/70#issue-594401153 right?

If this happens randomly, I'm also a bit confused because as @zakjan already mentioned we aren't in multi-threaded environment.

@ronaldtse could you please confirm your steps to reproduce the issue (even if it happens only once) including platform and gem version

[2021-03-18 16:29] ronaldtse commented on #74
I just ran `bundle exec metanorma site generate`.

Version info:

[code]

You can see the full trace in #70 .

[Gemfile.lock.zip](https://github.com/lutaml/expressir/files/6165671/Gemfile.lock.zip)

[2021-03-19 06:44] ronaldtse opened #75 "SELECT: Ability to provide schema information of referenced items"
document_schema.exp
[code]

In the Select object, we want to create a hyperlink to `product_definition_formation`, which actually originates from the `product_definition_schema`.

The method we build the hyperlink is via: `<<express:{schema}:{object}>>`, so we need the `{schema}` name in order to make this reference.

[2021-03-19 06:55] zakjan opened #76 "Allow creating hyperlinks outside of the context of source code"
Resolve referenced items earlier in the parser, so that target path is available in the serialized hash

Move this code https://github.com/lutaml/expressir/blob/master/lib/expressir/express_exp/hyperlink_formatter.rb

[2021-03-19 07:44] zakjan opened #77 "Better naming"
Where class -> WhereRule
Unique class -> UniqueRule

Type / Entity / Rule class
- where -> where_rules
- unique -> unique_rules

Type class
- type -> underlying_type

Types::Select / Types::Enumeration class
- extension_type -> based_on
- extension_items -> items

[2021-03-19 10:54] ronaldtse opened #78 "Support arbitrary remark tags in embedded remarks"
Due to metanorma/annotated-express#38, we need to support remark tags that are not part of an EXPRESS object.

For example:
[code]

Should be iteratively made available and it’s contents made extractable from Expressir.

This may mean a change in the assumption that an EXPRESS object only has one tagged remark.

[2021-03-19 13:02] zakjan commented on #78
agreed approach:

generalize current InformalProposition to RemarkItem, because it can be a remark container of any kind https://github.com/lutaml/expressir/blob/master/lib/expressir/model/informal_proposition.rb
add remark_items to every model class that already has remarks, i.e. Identifier mixin https://github.com/lutaml/expressir/blob/master/lib/expressir/model/identifier.rb

source code

[code

[2021-03-20 02:49] ronaldtse commented on #75
Is this same as #76 ?

[2021-03-20 04:31] ronaldtse opened #80 "REFERENCE FROM interface objects hash should not export symbols"
This is a sample of an Expressir::Model::Interface object in hash output, which is used in LutaML:

[code]

Notice that the symbol `:REFERENCE` in `"kind"=>:REFERENCE` cannot be used in Liquid because it is a Symbol. Liquid only supports Strings.

The use case is to filter out `REFERENCE FROM` and `USE FROM` interface items in Liquid in metanorma/annotated-express#38 as in:

[code]

[2021-03-20 04:33] ronaldtse commented on #80
Whoa I was wrong. This worked.

[code]

[2021-03-20 04:34] ronaldtse commented on #80
Still this is someone inconsistent with the rest. We really need documentation.

[2021-03-20 05:30] ronaldtse opened #81 "Ability to parse version string of schema (ASN.1)"
In metanorma/annotated-express#38 there is a need to find out parts of an EXPRESS schema version string.

The SCHEMA version string can be in ASN.1 format:

From 10303-11:
[code]

=> `schema.version.string` => `'version_1'`

From 10303-11:
[code]

=>
[code]

In STEPmod:
[code]

Then we can do:

[code]

[2021-03-20 05:30] ronaldtse commented on #81
This task does not block metanorma/annotated-express#38 because the referenced schemas are all within Part 41, but it will apply to other document parts.

[2021-03-20 06:25] zakjan commented on #80
Symbols like this are used in:

[code]

What's your suggestion instead of symbols?

[2021-03-20 06:28] zakjan commented on #75
Yes, this is the same.

[2021-03-20 06:45] ronaldtse opened #82 "Add specs for "REFERENCE/USE FROM" in model_element_spec.rb"
In the specs now there are no tests for "REFERENCE FROM" and "USE FROM" in model_element_spec.rb.

We should add them.

[2021-03-20 06:48] ronaldtse commented on #80
Let's close this for now. Liquid for a long time did not support rendering Symbols -- it only supported Strings for code safety.

However, I have tried and rendering does work now:

<img width="532" alt="Screenshot 2021-03-20 at 2 47 38 PM" src="https://user-images.githubusercontent.com/11865/111861698-3a822800-898b-11eb-80fd-4e69f33d4076.png">

[code]

So it's not a problem as long as we document

[2021-03-20 06:48] #80 closed

[2021-03-20 06:58] ronaldtse commented on #81
https://github.com/sdaubert/rasn1 seems like a pretty good gem for parsing ASN.1 in Ruby.

[2021-03-21 07:36] zakjan commented on #81
https://github.com/sdaubert/rasn1 parses binary ASN1 (see https://github.com/sdaubert/rasn1/wiki/Parsing and https://github.com/sdaubert/rasn1/wiki/Encoding). Where is it mentioned in the spec that `{iso standard 10303 part(41) version(8) object(1) action_schema(1)}` is ASN1? It seems to me that it needs to be parsed with custom code (`split(' ')` etc.).

[2021-03-21 07:40] #78 closed

[2021-03-21 07:41] zakjan commented on #78
Merged and releasing as 0.2.24

[2021-03-21 07:45] zakjan opened #83 "Cache native extension in GHA"
Hi @CAMOBAP, is it possible to cache `express_parser.bundle` in GHA, so that it rebuilds only when the C++ source files change?

[2021-03-22 05:32] zakjan commented on #81
There is this note in ISO 10303-11 spec:

includes a version identifier. The meaning of the object identifer is defined in ISO/IEC 8824-1, and is
described in ISO 10303-1. The use of this object identifier as a schema version identifier is encouraged.

Do we have access to ISO/IEC 8824-1 and/or ISO 10303-1?

[2021-03-22 08:04] #75 closed

[2021-03-22 08:09] #76 closed

[2021-03-22 15:11] zakjan commented on #82
Added tests for ModelElement.find to find items included by interface declarations.

https://github.com/lutaml/expressir/blob/7a55a7ec529633ca6f15e0df64990f59295b198e/spec/expressir/model/model_element_spec.rb#L88-L108

[2021-03-22 15:11] #82 closed

[2021-03-22 18:07] ronaldtse commented on #81
Let me find out.

[2021-03-23 06:00] CAMOBAP commented on #83
Not finished yet

[2021-03-23 07:42] zakjan commented on #83
Oops, sorry!

[2021-03-23 10:32] #83 closed

[2021-03-23 18:02] ronaldtse commented on #81
@zakjan this is text from N3554 (thanks @TRThurman ) that describes the usage best.

--------

## 5.4.4 Use of ASN.1 Identifiers in SC 4 standards (optional)

### 5.4.4.1 Information object registration annex

Some SC 4 standards can have an “Information object registration annex”. This annex defines the information object identifier for the standard as specified by ISO/IEC 8824-1 [9]. As a conseq

[2021-03-23 18:04] ronaldtse commented on #81
@zakjan it would definitely be easier to just directly parse this string without an ASN1 library.

[2021-03-24 07:17] zakjan commented on #81
Ok, I understand that schema version string is ASN1 object identifier, because of its tree structure and using reserved tree node symbols, but the string encoding is custom.

Parse result for `'{ISO standard 10303 part(41) object(1) version(8)}'` is going to be an array of objects:

[code]

[2021-03-24 07:32] zakjan commented on #81
Actually, it is ASN.1 notation for object identifiers, see https://luca.ntop.org/Teaching/Appunti/asn1.html section 5.9.

We could use ANTLR4 grammar for parsing it: https://github.com/tysonite/asn1-compiler/blob/master/compiler/src/main/antlr4/ASN1.g4#L305-L311

[2021-03-24 07:45] ronaldtse commented on #81
@zakjan Using the official grammar would be good (but maybe it belongs to another gem?).

[code]

This part is not consistent with the rest, since it is already described that those symbols represent an integer (1st position "iso" => 1, 2nd position "standard" => 0, 3rd position is "standard number" here 10303).

Is it possible to actually have a hash for this? i.e.:

[code]

[2021-03-24 08:03] zakjan commented on #81
String names have their mapping to integers registered. You can try it at http://www.oid-info.com/, our sample version string shows that the first two items are registered (iso = 1, standard = 0). The rest of items are custom.

![Screen Shot 2021-03-24 at 8 55 56](https://user-images.githubusercontent.com/173585/112274503-da3b0100-8c7e-11eb-980c-3d0d206f4d32.png)

Hash would work for easier access

[2021-03-24 09:51] ronaldtse commented on #81
I see, then please update the structure so that we differentiate against registered vs assignable values. Thanks!

[2021-03-24 11:02] zakjan commented on #81
Considering that `iso standard` are the only expected registered values, I think we can support recognizing only these two, right?

[code]

[2021-03-24 11:47] ronaldtse commented on #81
Yes this works. Thanks!

[2021-03-30 06:01] #81 closed

[2021-03-30 06:31] ronaldtse opened #88 "Formalize and develop parser for EXPRESS MIM mapping"
MIM documents contain "reference path" mappings that relates to the EXPRESS schemas and their items.

Specifically:

For example in ISO 10303-1001 (in the SMRL), it contains:

<img width="727" alt="Screenshot 2021-03-30 at 2 16 51 PM" src="https://user-images.githubusercontent.com/11865/112942365-93f40f00-9162-11eb-82d1-7b9f402f6bdb.png">

[code]

Is to be understood by these rules:

symbol | defi

[2021-03-30 06:32] ronaldtse commented on #88
Ping @TRThurman the above is based on our last discussion at WG 12, please let me know if this is accurate. Thanks!

[2021-03-30 12:45] TRThurman commented on #88
There is a missing optional element from the list above.
/MAPPING_OF/
which is a predefined template.

See following:
The definition and use of mapping templates are not supported in the present version of the application modules. However, use of predefined templates /MAPPING_OF/, /SUBTYPE/, and /SUPERTYPE/ is supported.

[2021-03-30 12:48] TRThurman commented on #88
The newline character is part of the syntax.
However, the use of newline to separate this declaration is not enforced by the XSL scripts.

This:
presentation_style_assignment
presentation_style_assignment.styles[i] ->
presentation_style_select

might also be encoded as:
presentation_style_assignment
presentation_style_assignment.styles[i] -> presentation_style_select

[2021-03-30 12:53] TRThurman commented on #88
mim elements are usually repeated in the reference path when an attribute is specified
This usually appears
...
presentation_style_assignment
presentation_style_assignment.styles[i] ->
presentation_style_select

----------
This might appear
presentation_style_assignment.styles[i] ->
presentation_style_select

[2021-03-30 12:55] TRThurman commented on #88
When PATH appears, any source entry shall be ignored.
(A warning could be issued...)

[2021-03-30 13:37] TRThurman commented on #88
The formal specification for mapping syntax and semantics is SC4N2661.
If there are inconsistencies between that document and the above extract of clause 5.1, they need to be brought to the attention of WG12.
[SC4N2661 Guidelines for the development of mapping specifications.doc.zip](https://github.com/lutaml/expressir/files/6229386/SC4N2661.Guidelines.for.the.development.of.mapping.specifications

[2021-03-30 14:02] TRThurman commented on #88
I could not find this document: STONIS, Alfonsas; Mapping syntax extensions, ISO TC 184/SC4/QC N203, 2001-06-11.

[2021-03-30 14:02] TRThurman commented on #88
I found this document.
[qcn163.htm.pdf](https://github.com/lutaml/expressir/files/6229556/qcn163.htm.pdf)

[2021-03-31 05:04] ronaldtse commented on #88
Thank you @TRThurman !

[2021-03-31 05:15] ronaldtse commented on #88
@TRThurman specifications from SC4N2661 and qcn163.htm.pdf should probably be published as a standard in order to formalise the mapping language.

[2021-04-18 12:09] #52 closed

[2021-04-18 12:09] #77 closed

[2021-04-18 12:10] #15 closed

[2021-04-18 13:32] zakjan commented on #72
After a short research of possible methods, I'm going to use [YARD](https://yardoc.org/index.html), because of its support for structured documentation tags and macros.

[2021-04-18 20:52] zakjan commented on #72
Sneak peak

![Screen Shot 2021-04-18 at 22 50 54](https://user-images.githubusercontent.com/173585/115160470-94fcca00-a098-11eb-8860-12b48c31aa45.png)

It's likely going to need further changes in model structure, add abstract classes, e.g. Expression

[2021-04-27 14:03] #72 closed

[2021-04-30 09:01] ronaldtse opened #91 "Support upcoming "EXPRESSdoc" format"
It will be based on https://github.com/metanorma/annotated-express/issues/94

[2021-04-30 15:28] opoudjis opened #92 "rubocop for this gem is not consistent with Ribose rubocop"
Should it not be?

cc @skalee

[2021-07-17 10:08] ronaldtse opened #94 "Provide proper documentation on API"
From @opoudjis :

https://github.com/metanorma/annotated-express/issues/18

[2021-07-19 16:28] zakjan commented on #94
Hi @opoudjis @ronaldtse Model documentation is available at https://rubydoc.info/github/lutaml/expressir/master/Expressir/Model - let me know if there is anything to improve. I'm not sure what does "complete, unformatted schema listing from a schema" mean.

[2021-07-19 16:32] zakjan commented on #94
If you are looking for a method to generate source code, this method accepts any model instance https://rubydoc.info/github/lutaml/expressir/master/Expressir/Express/Formatter#format-class_method

[2021-07-21 08:53] ronaldtse commented on #94
@zakjan can we have:

* Some examples on how to use the gem
* How to traverse nodes and do things on encountering a parse node
* Description of the functionality (what can this gem do?)
* Additional info on models, e.g. https://rubydoc.info/github/lutaml/expressir/master/Expressir/Model/DataTypes/Aggregate it says:
<img width="343" alt="Screenshot 2021-07-21 at 4 52 27 PM" src="https://user-images

[2021-07-21 22:02] zakjan commented on #94
I can update readme and add most common examples, does it help? Readme is obsolete anyway, I focused on the functionality and YARD docs, haven't touched readme at all yet.

Config/Configure is a remnant of the previous version, unfortunately I have no idea how it was supposed to be used. I can delete it.

The output from Parser.parse is Repository, all children can be traversed down. I'm not sure

[2021-09-17 02:53] ronaldtse commented on #32
This task is now active again.

[2021-12-17 12:57] ronaldtse opened #95 "(URGENT) Upgrade rice gem to 4.0"
Required for packed-mn. (also from https://github.com/tamatebako/tebako/issues/55)

[2021-12-18 08:32] ronaldtse commented on #95
Reason for failure: https://github.com/metanorma/packed-mn/issues/140

[2021-12-22 10:08] ronaldtse opened #96 "Change default branch to `main` from `master`"

[2021-12-22 10:08] ronaldtse commented on #96
Done.

[2021-12-22 10:08] #96 closed

[2021-12-22 12:25] alexeymorozov commented on #95
As I see, it requires to rewrite the `antlr4-native` gem with a support of rice v4:

https://github.com/camertron/antlr4-native-rb/blob/master/lib/antlr4-native/generator.rb#L77

Will fork and do a PR.

[2021-12-23 19:03] alexeymorozov commented on #95
Fork is here: https://github.com/camertron/antlr4-native-rb/compare/master...alexeymorozov:rice-4

[2022-01-18 18:58] #95 closed

[2022-01-18 18:59] ronaldtse opened #98 "Tag and release new version"
@alexeymorozov also need release. Thanks!

_Originally posted by @ronaldtse in https://github.com/lutaml/expressir/issues/97#issuecomment-1015728499_

[2022-02-14 11:20] alexeymorozov commented on #98
Released as v1.2.0

[2022-02-14 11:20] #98 closed

[2022-03-14 06:27] CAMOBAP opened #101 "Release workflow doesn't work as expected"
### Problem

During patch release 1.2.2 was observed that 1.2.1 was released, but 1.2.2 was committed https://github.com/lutaml/expressir/actions/runs/1978865314

Looks like this happens because we bump gemspec and do actually release in different jobs and the second job didn't get the latest code, instead it gets repo for sha where it was triggered

### Expected result

We need to make sure that

[2022-03-14 07:56] #101 closed

[2022-03-16 07:16] CAMOBAP opened #103 "Build x64-mingw-ucrt version to support Windows Ruby 3.1"
Check implementation in nokogiri:
 - https://github.com/sparklemotion/nokogiri/commit/142baf0b1a7ff1cc1314bcca786eb95189691b6d

[2022-03-20 07:11] ronaldtse opened #104 "Build arm64-linux version for arm64"
Similar to https://github.com/metanorma/emf2svg-ruby/pull/16

[2022-03-20 16:00] ronaldtse commented on #104
FYI @maxirmx when you have time. expressir also needs a platform gem for Windows and arm/Apple M1. Thanks!

[2022-03-22 12:22] ronaldtse commented on #103
Similar to https://github.com/metanorma/emf2svg-ruby/issues/7

[2022-03-22 12:24] ronaldtse opened #105 "Build aarch64-alpine-linux-musl for Alpine Linux on arm64"
Similar to https://github.com/metanorma/emf2svg-ruby/issues/17

[2022-03-22 13:15] ronaldtse opened #106 "Failure when loaded in Alpine Linux with musl-dev"
In Alpine, the musl-dev library is used instead of glibc. Somehow, the platform gem "x86_64-linux" is installed for expressir.

[code]

When I install on aarch64, it correctly detects that I am on a different platform and therefore does not install the platform gem and compiles properly.

[code]

[2022-03-22 13:28] ronaldtse commented on #106
The problem is also related to this: https://github.com/metanorma/emf2svg-ruby/issues/17

[2022-03-24 16:55] maxirmx commented on #104
@ronaldtse
It looks like this gem is all set
![image](https://user-images.githubusercontent.com/2081498/159969244-db16a139-8567-46cf-aa73-7b19847e009b.png)

[2022-03-24 17:54] ronaldtse commented on #104
Nearly!

I see these two files doing the work:
- https://github.com/lutaml/expressir/blob/862815313231c15ffc05d98c4b49dc80f85ad464/.cross_rubies
- https://github.com/lutaml/expressir/blob/5a7d9615cf187d04549ef4bb4c6152f76b48235b/rakelib/cross-ruby.rake

 We need arm64-linux but it is not in the list yet.

[2022-03-24 17:55] ronaldtse commented on #104
Maybe we just need to change those two files and we can add all the necessary platforms?

[2022-03-24 18:29] maxirmx commented on #104
I see, thank you

[2022-03-25 18:18] alexeymorozov commented on #106
[code]

Platform is detected as `x86_64-linux-musl`.

[code]

So it matches `x86_64-linux` because the version part is nil.

The next step is to create a build for `x86_64-linux-musl`, or rename `x86_64-linux` to a more specific build.

[2022-03-26 02:59] ronaldtse commented on #106
The mismatch between `glibc` and `musl` platforms has been subject of work at `rubygems`:
* https://github.com/rubygems/rubygems/issues/3174
* https://github.com/rubygems/rubygems/pull/4082

And that it is a known issue on Alpine that Rubygems can mistakenly install `glibc` platform gems on Alpine, and therefore they maintain such a patch to only install `platform=ruby` gems:
* https://gitlab.alpi

[2022-03-26 06:50] ronaldtse commented on #74
@maxirmx this segfault is indeed challenging to our release pipeline, I just encountered it today. Would you have time to do this? Thanks!

[2022-03-26 07:45] maxirmx commented on #74
@ronaldtse
From the discussions in this and other issues I got an impression that there are some references to  ANTLR4 native variables that are used accross calls to Ruby code.  Such instances are local variables (i.e. allocated on stack) and passed by pointer.   Result should be unpredictable but it is an error, of course.

The issue is that I do not see where it happens.  Possibly 'everywhere'

[2022-03-26 07:48] ronaldtse commented on #74
@maxirmx the Expressir gem's parser code is generated from the ANTLR grammar using https://github.com/camertron/antlr4-native-rb , so the pointer reference issues are likely there. Could you investigate in that direction?

[2022-03-26 08:18] maxirmx commented on #106
"/lib/ld-linux-x86-64.so.2"   -- is a dynamic loader.
IMHO it is worth trying compatibility package: https://pkgs.alpinelinux.org/contents?file=ld-linux-x86-64*

expressir is using [rake-compiler-dock](https://github.com/rake-compiler/rake-compiler-dock)  that supports:
          - platform: x86-mingw32
          - platform: x64-mingw-ucrt
          - platform: x64-mingw32
          - platform: x8

[2022-03-26 09:14] ronaldtse commented on #106
The compatibility package `gcompat` worked:

[code]

@maxirmx Maybe we should make a PR to `rake-compiler-block`?

[2022-03-26 09:43] maxirmx commented on #106
@ronaldtse, we can if ruby really support differentiation but I am afraid that it won't be straightforwards either.

[2022-03-28 13:45] #104 closed

[2022-03-28 21:21] ronaldtse commented on #74
@maxirmx The segfault seems reliably reproduced in this build with Ruby 2.7: https://github.com/lutaml/expressir/runs/5721221032?check_suite_focus=true

Maybe that is a good place to start investigation.

[2022-04-01 15:38] manuelfuenmayor opened #108 "Remark items within `SCHEMA` ... `END_SCHEMA` cause parsing differences in Expressir"
In relation to https://github.com/metanorma/iso-10303-detached-docs/issues/82

Taking this EXPRESS syntax as example:

[code]

The annotated content enabled by `(*"method_definition_schema"` method is not being recognized by the parser,
because it is "inside" the EXPRESS syntax. If I'd move this content after `END_SCHEMA; -- method_definition_schema`,
it would be recognized.

This doesn't occur wi

[2022-04-04 21:35] maxirmx commented on #106
This (or closely related) issue is a blocker for:
https://github.com/metanorma/packed-mn/issues/158

Whe packaged with `tebako` in `linux-musl` environment expressir loads `x86_64-linux` extension which requires `/lib/ld-linux-x86-64.so`
It is worth to note that this issue occurs only for expressir and libemf2svg (that inherits platform logic from expressir)  All other gems with native extensions

[2022-04-05 01:42] ronaldtse commented on #106
Then if we update the platform logic, so it does not treat it as `x86_64-linux`, it should work?

[2022-04-05 06:30] ronaldtse opened #109 "Crash on Ruby 3.0 and 3.1 after requiring `expressir/express/parser`"
[code]

Interestingly this only happens at exit?

From: https://github.com/lutaml/lutaml/issues/33

[2022-04-05 06:31] ronaldtse commented on #109
I wonder if this is related to Expressir's occasional segfaults in #74

[2022-04-05 07:38] maxirmx commented on #106
I do not understand why other gems work.  Probably it shall be possible to implement platform logic as others do it

[2022-04-06 16:19] maxirmx commented on #109
I was able to reproduce this issue on MacOS only
Further, if I build express_parser extension using macOS toolchain (Apple clang) this issue is not reproducible either.
I can see it only when pre-build extension is used and pre-build extension is created with gcc toolchain

[2022-04-07 19:53] maxirmx commented on #109
Latest findings
If expressir is built with rake-compiler-dock, any call to rice causes this crash.
I think it is some MacOS SDK compatibility problem since rake-compiler-dock uses 10.13, expressir compiles for 10.14 target but ruby 3 employs something higher

There are two possible approaches:
- build Mac versions without cross-compilation and with 'native' version of SDK (relatively fast)
- creat

[2022-04-08 15:27] ronaldtse commented on #109
I suppose we should do both?

[2022-04-15 08:50] maxirmx commented on #109
@ronaldtse @opoudjis

Can I ask for your help, please ?

Attached please find an expresser prototype built differently. Does it fix this issue and  https://github.com/metanorma/metanorma-cli/issues/272) in your environment ?

[expressir-1.2.2-arm64-darwin-21.gem.gz](https://github.com/lutaml/expressir/files/8494955/expressir-1.2.2-arm64-darwin-21.gem.gz)

Your help is much appreciated. Thanks

[2022-04-15 09:45] ronaldtse commented on #109
@maxirmx I've just tried it with Ruby 3.0 (it doesn't install on Ruby 3.1.

[code]

[2022-04-15 10:13] maxirmx commented on #109
Thanks

[2022-04-15 21:19] maxirmx commented on #109
Crash (segfault) happens during execution of static destructors of some Rice objects.
I believe we see it on MacOS precompiled extension because of some unknown specifics of osxcross clang compiler  (as opposed to gcc and Apple native clang)
To save space I refer to recent Google document that explains the risks and disadvantages of using non-trivially-destructable objects _per se_ :  https://goog

[2022-04-18 03:56] #109 closed

[2022-04-18 05:57] ronaldtse opened #111 "Bump version after fix with about destructors"
@maxirmx can you help bump/tag v1.2.3 since #110 is now merged? Thanks.

[2022-04-18 05:58] ronaldtse commented on #109
Thank you @maxirmx ! I've created a new issue #111 to bump version so as to release this.

[2022-04-18 07:09] maxirmx commented on #111
Done

[2022-04-18 07:09] #111 closed

[2022-05-04 10:10] maxirmx opened #113 "Code review"
1. _CI inconsistency._   Test and release scripts uses very diffrent toolchains: ri tests run in native ubuntu/macos/mingw environment while release versions are built using rake-compiler-dock cross-compile toolchains.  If low level issues like #74 are considered such an approach is very risky since successful tests results are not applicable to release versions. IMHO it shall be changed to use co

[2022-05-04 10:22] maxirmx commented on #74
I made several changes that improved stability as follows:

- ```parse.rb -- self.from_file, self.from_files```
parse, syntax, visitor methods return complex tree structures created in netive (C++) extension
visit method references nodes and leaves of this structures but it is totally untransparent for Ruby GarbageCllector
so in this class we keep those C++ structure marked for GC so they are not

[2022-05-04 10:43] ronaldtse commented on #113
Agere.

Isn't this file generated by https://github.com/camertron/antlr4-native-rb/ ?

[2022-05-04 11:26] maxirmx commented on #113
It is. If we take it as given then something has to be done with code generator at antlr3-native-rb
https://github.com/camertron/antlr4-native-rb#caveats  says:

Thi sounds really strange to me me.

[2022-05-04 18:37] ronaldtse opened #114 "Upgrade antlr generator to 4.10"
Antlr project already fixed this issue.  I updated the version we use from 4.8 to 4.9
Note: Could not upgrade to the latest antlr 4.10 since it is major update with API change

_Originally posted by @maxirmx in https://github.com/lutaml/expressir/pull/112#discussion_r864683300_

[2022-05-04 18:38] ronaldtse opened #115 "Bump version for latest fixes in #112"
Bump version to reflect fixes in #112

[2022-05-04 19:34] maxirmx commented on #115
Done

[2022-05-04 19:34] #115 closed

[2022-05-04 23:38] ronaldtse commented on #115
Thanks!

[2022-05-05 13:03] maxirmx commented on #74
https://github.com/camertron/antlr4-native-rb/issues/9

[2022-05-11 16:13] maxirmx commented on #114
https://github.com/camertron/antlr4-native-rb/issues/12

[2022-05-12 12:30] CAMOBAP opened #118 "Should we wrap `NameError` to `Expressir::Error`?"
Related to https://github.com/lutaml/lutaml/pull/35#issuecomment-1124929861

### Intro

`expressir@1.1.0` contains [breaking changes (Schema class moved under Declaration submodule)](https://github.com/lutaml/expressir/compare/v1.0.0...v1.1.0#diff-4e1467b4aa62e9075aee441f02beeb380efec08eb80167a5cf480ed59bbc2f8f)

As result during parsing, it may throws `NameError: uninitialized constant Expressir:

[2022-05-12 17:13] CAMOBAP commented on #118
@maxirmx yep absolutely (there is no relation to #116)

[2022-05-12 20:35] maxirmx commented on #114
Expressir built with  antlr 4.10.1 / antlr4-native-rb 2.1.0   is unstable
This update has been removed from https://github.com/lutaml/expressir/pull/116

[2022-05-12 20:39] #103 closed

[2022-05-12 20:39] #113 closed

[2022-05-15 21:54] #114 closed

[2022-05-15 22:26] maxirmx commented on #74
Although the extension _looks_ more stable, there is (are) issue(s) that cause abnormal terminations. It looks like the problem is related to compaction (good explanation is here: https://alanwu.space/post/check-compaction/)
Running 'verify_compaction_references' results in weird issues so it is not easy to track either.

Something very similar was researched and not fixed  in Rice as discussed he

[2022-05-27 09:36] maxirmx commented on #74
Expressir implements a method to access antlr token stream from Ruby.
This method (Parser.tokens in Ruby; ParserProxy::getTokens in C++) is generates on top of the source created by antlr4-native gem. getTokens returns Ruby array containing direct references to antlr objects and it is an issue.
When Ruby releases the array it also attempts to release all its members since there is no information o

[2022-05-29 15:57] #74 closed

[2022-05-30 05:17] CAMOBAP commented on #109
Per last report-nist-pubid's run https://github.com/riboseinc/report-nist-pubid/runs/5548341957?check_suite_focus=true there is no such issue, is this ticket still valid?

[2022-05-30 18:45] maxirmx commented on #106
Well, so far it looks like a mistery

nokogiri gem taht uses the same build system installs and runs on Alpine using ```linux``` prebuild native gem.
The authour and maintainer of nokogiri is sure that gcompat is a prerequisite, but it is not true.

![image](https://user-images.githubusercontent.com/2081498/171046405-cc9987a6-f3d1-43e9-9c15-570ae7800840.png)
![image](https://user-images.githubuser

[2022-05-30 18:47] maxirmx commented on #106
![image](https://user-images.githubusercontent.com/2081498/171046735-0cd13f13-0bea-4f2a-bba1-2998499bcebf.png)

Expressir looks different for ldd. The reason is yet unknown

[2022-06-02 11:30] CAMOBAP opened #122 "Investigate size of express_parser.so for Ruby 3.0, 3.1"
### Intro

During the investigation of docker image size in the scope of https://github.com/metanorma/metanorma-docker/issues/147 I have found that size of `express_parser.so` for Ruby 3.0, 3.1 (21 MB) is 3 times more than `express_parser.so` for Ruby 2.7 (7.2 MB)

### Questions

1. Is there a potential to reduce the size of `express_parser.so` for Ruby 3.0, 3.1?
2. If this is not possible maybe w

[2022-06-02 12:04] ronaldtse commented on #122
@maxirmx can you help check? Thanks!

[2022-06-02 13:22] maxirmx commented on #122
I will look at it

[2022-06-02 19:04] CAMOBAP commented on #122
BTW how do you think about the second question? I just checked several gems and neither of them implements such behavior. Maybe there are some obvious reasons why it's not possible?

[2022-06-02 19:22] maxirmx commented on #122
**If this is not possible maybe we can conditionally remove unnecessary binaries. For example if we install expressir gem for Ruby 3.1, can we remove 2.7 and 3.0 variants?**

- ```Expressir``` employs ```rake-compiler-dock``` to create native extensions
- ```Rake-compiler-dock``` links ```libruby``` statically (I do not understand why, probably to ensure stable environment)
- Since ```libruby``` i

[2022-06-02 19:25] maxirmx commented on #122
I have to say that there is something wrong with expressir linkage.   It is not only this size issue but also Alpine issues (#106)
Other gems built with ```rake-compiler-dock``` are glibc-neutral.  This is the positive side of static linking.

[2022-06-02 23:20] ronaldtse commented on #122
Thanks @maxirmx for the continued investigation!

[2022-06-03 14:38] maxirmx commented on #106
**Summary of research re Alpine (musl) support**
- Since the effort to support x86_64-linux-musl platform looks stalled  (https://github.com/rubygems/rubygems/pull/4488) I was looking at options to make the x86_64-linux platform gems (expressir and others) work natively on musl
- Initial view was to identify gnu extensions in express_parser and either replace them with std equivalents or neutraliz

[2022-06-03 14:46] maxirmx commented on #106
**What can be done**

1. We make take over rubygems platform effort (https://github.com/rubygems/rubygems/pull/4488) and attempt to drive it to completion.  This is the 'right' approach but it may last forever
2. For expressir and similar gems we can deploy musl binaries inside linux gem and implement a hack that will use these libaries if on Alpine. This is the risky approach, result cannot be gu

[2022-06-04 01:28] ronaldtse commented on #106
@maxirmx thank you for the extensive investigation!

This is reasonable for packed-mn and our gems. We should take this approach.

This is risky for us because we do not know when the Ruby team is interested enough in musl. This PR has implications in the Rubygems system because other there is a backwards compatibility concern too, i.e. all currently available platform gems are assigned to 'glibc'

[2022-06-04 19:12] maxirmx commented on #106
I will do more tests with gcompat and/or packed_mn to be sure that gcompat is solid approach

[2022-06-08 04:27] ronaldtse commented on #118
@maxirmx could you help handle when you have time? Thanks!

[2022-06-09 19:59] maxirmx commented on #106
**Update**
Alpine test workflow: https://github.com/lutaml/expressir/actions/runs/2470775121
- ```force_ruby_platform``` works, of course
- ```gcompat``` does not work.  It is good enough to let extension load; however, the tests do not pass with blind exception

[code]
I found that is exception is related to ```std::call_once```, i.e.: thread local memory again.

```force_ruby_platform``` helped

[2022-06-19 15:20] maxirmx commented on #118
@CAMOBAP @ronaldtse
I have double checked it. To my best understanding ```Expressir``` throws ```Expressir::Error``` in the case under discussion and there is a test for it
https://github.com/lutaml/expressir/blob/ce2e4568607c15c391df6e15dca67228ccd68041/spec/expressir/express/cache_spec.rb#L59

```lutaml``` also has such test  https://github.com/lutaml/lutaml/blob/e4ee4b43f916fa6423ce63735211672a

[2022-06-19 15:45] CAMOBAP commented on #118
@maxirmx  Not always. In this particular case [breaking changes (Schema class moved under Declaration submodule)](https://github.com/lutaml/expressir/compare/v1.0.0...v1.1.0#diff-4e1467b4aa62e9075aee441f02beeb380efec08eb80167a5cf480ed59bbc2f8f) `NameError` was thrown during obvious reason (the class was renamed)

In my understanding, we should handle such cases and 'wrap' `NameError` with `Express

[2022-06-19 19:51] maxirmx commented on #118
@CAMOBAP

What I found:
1. There is a couple of issues in lutaml specs when they pass an array of Ruby File objects to ```Expressir...from_files```. ```from_files``` expects an array of strings(paths) as an argument.  It caused some strange exceptions in ```rake spec``` but after I fixed the issues spect has been working like charm.
2. Correct behavior of ```Expressir::Express::Cache.from_file```

[2022-06-19 19:59] CAMOBAP commented on #118
Yep, but as far as I understood YAML was obtained by saving through `Expressir::Express::Cache`. But this YAML was saved before `Expressir::Model::Schema` class was renamed to `Expressir::Model::Declarations::Schema`. This is why for old version it works and for new one `expressir` throws `NameError: uninitialized constant Expressir::Model::Schema`

[2022-06-19 20:32] maxirmx commented on #118
In the current version ```Expressir::Express::Cache``` stores schema version as the first field.  When cache is loaded  ```Expressir::Express::Cache``` first checks this version number and throws ```Expressir::Error``` in case of mismatch.
So I believe the issue you describe cannot happen with the current version though it has been fixed in a different way.

[2022-06-19 20:36] maxirmx commented on #122
It looks like we can have only two versions of the library packed -  2.x  and 3.x  Ruby 2.7 cannot load 3.x library and 3.0 and 3.1 appear to be the same.
 It will save 21Mb.  @CAMOBAP  does it make sense ?

[2022-06-19 21:42] maxirmx commented on #122
I found the difference in compilation 2.x vs 3.x
I believe I will be able to create a version where both 2.x and 3.x files will be ~ 7.5 Mb

[2022-06-19 23:51] #122 closed

[2022-06-19 23:56] ronaldtse commented on #122
Thank you @maxirmx !

[2022-06-20 04:53] CAMOBAP commented on #118
@maxirmx thanks for explanation it's totally make sens, and in this case there is nothing to fix, closing this one

[2022-06-20 04:53] #118 closed

[2022-08-23 00:33] ronaldtse commented on #106
* Rubygems now supports differentiation of platform between glibc and musl: https://github.com/rubygems/rubygems/pull/5852 , which works from 3.1.0.pre.1 onwards
* We wait for the merging of https://github.com/rubygems/rubygems/pull/4488 for bundler to work
* Then we can re-do this task of publishing the gem on the musl platforms

[2022-11-17 05:49] ronaldtse opened #125 "Issue compiler warning when statement contains reference to attribute prefixed with "self schema" (and perform automatic fix)"
In the EXPRESS file `aic_topologically_bounded_surface`, it contains statements like this:

[code]

Notice that the statement `AIC_TOPOLOGICALLY_BOUNDED_SURFACE.B_SPLINE_SURFACE` is technically incorrect:
* The first part `AIC_TOPOLOGICALLY_BOUNDED_SURFACE` is actually the current schema's name.
* The attribute `B_SPLINE_SURFACE` refers to `geometry_schema.b_spline_surface`.
* The attribute `geome

[2022-11-17 05:51] ronaldtse commented on #125
For documentation on EXPRESS features, see:
* https://github.com/metanorma/iso-10303-11

[2022-11-22 00:51] ronaldtse opened #126 "Possible to hand the `(*)` pattern in EXPRESS remark tags?"
This is from: https://github.com/metanorma/iso-10303-2/issues/98#issuecomment-1322094216

The pattern `(*)` does not seem to have a way of encoding within an EXPRESS remark tag?

The way to escape the `(*` and `*)` patterns is described in [ISO 10303-11](https://github.com/metanorma/iso-10303-11). But this does not seem to work with `(*)`:
<img width="726" alt="Screen Shot 2022-11-21 at 9 47 16 PM